<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ID 중복 확인</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script>
      $(document).ready(function () {
        let sendCode = opener.$("#sendToChild").val();

        $("#showWhat").val(sendCode);
        // showWhat의 값이 i이면 닉네임 확인 영역을 숨긴다.
        if ($("#showWhat").val() == "i") {
          $("#showNick").hide();
        }
        // showWhat의 값이 n이면 아이디 확인 영역을 숨긴다.
        if ($("#showWhat").val() == "n") {
          $("#showId").hide();
        }
      });

      function idChecked() {
        let idChecked = "y";
        $("#idDuplicationCheck", opener.document).val(idChecked);
        window.close();
      }

      function nickChecked() {
        let nickChecked = "y";
        $("#nickDuplicationCheck", opener.document).val(nickChecked);
        window.close();
      }
    </script>
  </head>
  <body>
    <h1>중복 확인 결과</h1>
    <!-- joinSave.html의 sendToChild에 있는 값을 showWhat에 삽입 -->
    <input type="hidden" id="showWhat" />

    <div id="showId">
      <p th:text="'입력한 ID: ' + ${memberId}"></p>

      <div th:if="${idDuplicate}">
        <p>해당 ID는 이미 사용 중입니다.</p>
        <button onclick="window.close();">돌아가기</button>
      </div>
      <div th:if="${!idDuplicate}">
        <p>사용 가능한 ID입니다.</p>
        <button onclick="idChecked();">ID 확정</button>
      </div>
    </div>

    <div id="showNick">
      <p th:text="'입력한 닉네임: ' + ${memberNickname}"></p>

      <div th:if="${nickDuplicate}">
        <p>해당 닉네임은 이미 사용 중입니다.</p>
        <button onclick="window.close();">돌아가기</button>
      </div>
      <div th:if="${!nickDuplicate}">
        <p>사용 가능한 닉네임입니다.</p>
        <button onclick="nickChecked();">닉네임 확정</button>
      </div>
    </div>
  </body>
</html>
