<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>에코나비</title>
    <!-- Style -->
    <link rel="stylesheet" href="/css/find/idFind.css" />
    <!-- 스크립트 -->
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script type="text/javascript" src="/js/find/idFind.js"></script>
  </head>
  <body>
    <!-- 네비게이션 구역 -->
    <div class="navigationContainer">
      <!-- 로고 -->
      <div class="logo">
        <a href="/">
          <img src="/images/logo.png" class="logoImg" />
        </a>
      </div>

      <!-- 우리는 -->
      <div class="projectInfo">
        <span class="highlighterBlue">
          <a href="/info/service">우리는</a>
        </span>
      </div>

      <!-- 나눠요 -->
      <div class="projectInfo">
        <span class="highlighterBlue">
          <a href="/share/list">나눠요</a>
        </span>
      </div>

      <!-- 버려요 -->
      <div class="projectInfo">
        <span class="highlighterBlue">
          <a href="/recycle/list">버려요</a>
        </span>
      </div>

      <!-- 오른쪽 정렬 -->
      <div class="rightGroup">
        <!-- 회원가입 -->
        <div class="join">
          <span class="highlighterGreen">
            <a href="/member/join">회원가입</a>
          </span>
        </div>
        <!-- 로그인 -->
        <div class="login">
          <span class="highlighterGreen">
            <a href="/member/loginForm">로그인</a>
          </span>
        </div>
      </div>
    </div>

    <!-- 공백 -->
    <div class="blankContainer"></div>
    <!-- 메인 영역 -->
    <div id="mainContainer">
      <!-- 아이디찾기 영역 -->
      <div class="idFindArea">
            <!-- 회원가입 타이틀 영역 -->
            <div class="idFindTitleArea">
              <!-- 회원가입 타이틀 -->
              <div class="idFindTitle">
                아이디 찾기
              </div>
            </div>
            
            <!-- 이메일 영역 -->
            <div class="emailArea">
              <!-- 이메일 상단 영역 -->
              <div class="emailUpsideArea">
                  <!-- 이메일 타이틀 -->
                  <div class="emailTitle">
                      이메일   
                  </div>
                  <!-- 이메일 인증 -->
                    <div class="emailButton highlighterGreen" onclick="sendEmailVerificationCode()">인증번호 전송</div>
              </div>
              
              <!-- 이메일_input 영역 -->
              <div class="emailInputArea">
                  <!-- 이메일_input -->
                  <input type="text" name="memberEmail" id="memberEmail" class="memberEmail">
                  <br>
                  <!-- 이메일 입력 메시지 출력 -->
                  <div class="emailError" id="emailError"></div>
              </div>
          </div>


          <!-- 인증번호 인증 영역 -->
          <div class="emailCodeArea">
            <!-- 인증번호 인증 상단 영역 -->
            <div class="emailCodeUpsideArea">
                <!-- 인증번호 인증 타이틀 -->
                <div class="emailCodeTitle">
                    인증번호   
                </div>
                <!-- 인증번호 인증 -->
                <div class="codeButton highlighterGreen" onclick="verifyEmailCode()">
                  인증번호 확인
                </div>
            </div>
            
            <!-- 인증번호_input 영역 -->
            <div class="emailCodeInput">
                <!-- 인증번호_input -->
                <input type="text" id="emailCode" class="emailCode">
                <!-- 인증번호 입력 메시지 출력 -->
                <div class="emailCodeError" id="emailCodeError">
                    인증번호를 입력해 주세요.
                </div>
            </div>
          </div>

          <!-- 인증번호 확인을 위한 input 인증 성공시 value 값이 y로 변경된다.  -->
          <input id="emailDuplicationCheck" type="hidden" value="">

          <!-- 버튼 영역 -->
          <div class="buttonArea">
            <!-- 아이디 찾기 버튼 -->
            <button type="submit" class="findButton" id="findButton">
              아이디 확인
            </button>
          </div>

          <!-- 모달창 구조 -->
          <div id="myModal" class="modal">
            <div class="modal-content">
              <!-- 닫기버튼 -->
               <div class="closeDiv">
                 <span class="close">&times;</span>
              </div>
              <!-- 아이디 확인 title -->
              <div class="idCheck">
                <span>아이디 확인</span>
              </div>
              <!-- 찾은 아이디 나오는 div -->
              <div class="idCheck" id="idCheck">
              </div>
              <div class="buttonArea">
                <button id="confirmButton" class="idFindButton">로그인</button>
              </div>
            </div>
          </div>
      </div>
    </div>


    <!-- 저작권 정보 -->
    <div class="rightContainer">© 2024 Team San, Hai. All rights reserved.</div>
  </body>
</html>
