<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>에코나비</title>
    <!-- 아이콘 -->
    <link rel="icon" href="/images/simple_logo.png" type="image/png">

    <!-- Style -->
    <link rel="stylesheet" href="/css/member/login.css">
    <!-- script -->
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script type="text/javascript" src="/js/member/login.js"></script>
  </head>
  <body>
    <!-- 네비게이션 구역 -->
    <div class="navigationContainer">

        <!-- 로고 -->
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" class="logoImg">
            </a>
        </div>
  
        <!-- 우리는 -->
        <div class="projectInfo">
            <span class="highlighterBlue">
                <a href="/info/service">우리는</a>
            </span>
        </div>
  
        <!-- 나눠요 -->
        <div class="projectInfo">
            <span class="highlighterBlue">
                <a href="/share/list">나눠요</a>
            </span>
            
        </div>
  
        <!-- 버려요 -->
        <div class="projectInfo">
            <span class="highlighterBlue">
              <a href="/recycle/list">버려요</a>
            </span>
        </div>
  
        <!-- 오른쪽 정렬 -->
        <div class="rightGroup">

                <!-- 회원가입 -->
                <div class="join">
                  <span class="highlighterGreen">
                    <a href="/member/join">회원가입</a>
                  </span>
                </div>
                <!-- 로그인 -->
                <div class="login">
                  <span class="highlighterGreen">
                    <a href="/member/loginForm">로그인</a>
                  </span>
                </div>
        </div>
      </div>
  
    <!-- 공백 -->
    <div class="blankContainer"></div>

    <!-- 로그인 폼 -->
    <form th:action="@{/member/login}" method="post" id="loginPost">

      <!-- mainContainer -->
      <div id="mainContainer">

        <!-- 로그인 영역 -->
        <div class="loginArea">

            <!-- 로그인 타이틀 영역 -->
            <div class="loginTitleArea">
                <!-- 로그인 타이틀 -->
                <div class="loginTitle">로그인</div>
            </div>

            <!-- 아이디 영역 -->
            <div class="idArea">
                <!-- 아이디 상단 영역 -->
                <div class="idUpsideArea">
                    <!-- 아이디 타이틀 -->
                    <div class="idTitle">
                        아이디   
                    </div>
                    <!-- 아이디 찾기 -->
                    <div class="findId highlighterGreen" onclick="window.location.href='/find/idFind';">
                      아이디 찾기
                    </div>
                </div>
                
                <!-- 아이디_input 영역 -->
                <div class="idInputArea">
                    <!-- 아이디_input -->
                    <input type="text" name="id" id="id" class="userId">
                    <br>
                    <!-- 아이디 및 로그인 오류  메시지 출력 -->
                    <div class="idError" th:if="${error}">
                          <!-- 로그인이 올바르게 시행되지 않았을 경우 페이지가 새로고침 되며 받아온 오류 exception을 출력한다. -->
                          <span th:text="${exception}"></span>
                    </div>
                </div>
            </div>

            <!-- 비밀번호 영역 -->
            <div class="passwordArea">
                <!-- 비밀번호 상단 영역 -->
                <div class="passwordUpsideArea">
                    <!-- 비밀번호 타이틀 -->
                    <div class="passwordTitle">
                        비밀번호   
                    </div>
                    <!-- 비밀번호 찾기 -->
                    <div class="findPassword highlighterGreen" onclick="window.location.href='/find/pwFind';">
                        비밀번호 재설정
                    </div>
                </div>
                    
                <!-- 비밀번호_input 영역 -->
                <div class="passwordInputArea">
                    <!-- 비밀번호_input -->
                    <input type="password" name="password" id="password" class="userPassword">
                    <br>
                    <!-- 비밀번호 오류 메시지 출력 -->
                    <div class="passwordError">
                    </div>
                </div>
            </div>

            <!-- 버튼 영역 -->
            <div class="buttonArea">
              <!-- 로그인 버튼 -->
              <button type="submit" class="loginButton">
                  로그인
              </button>
              <!-- 회원가입 버튼 -->
              <button type="button" class="joinButton" onclick="location.href='/member/join'">
                  회원가입
              </button>
            </div>

        </div>

      </div>

    <!-- 저작권 정보 -->
    <div class="rightContainer">
      © 2024 Team San, Hai. All rights reserved.
    </div>

  </body>
</html>
