/* shareEdit_style_css */
/* Font | NEXON Lv1 Gothic OTF */
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* General Reset */
* {
  box-sizing: border-box;
}

/* Body에 font 적용 */
body {
  font-family: "NEXON Lv1 Gothic OTF";
  box-sizing: border-box;
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  -ms-overflow-style: none;
}

/* 스크롤바 없애기 */
::-webkit-scrollbar {
  display: none;
}

/* a태그 속성 없애기 */
a {
  color: inherit;
  text-decoration: inherit;
}

/* 이미지 */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 네비게이션 */
/* 네비게이션이 영역 div */
.navigationContainer {
  margin: auto;
  margin-top: 5vh;
  width: 93vw;
  height: 6vh;
  white-space: nowrap;
}

/* 로고 감싸는 div */
.logo {
  display: inline-block;
  height: 6vh;
  margin-right: 1vw;
}

/* 로고 이미지 */
.logoImg {
  height: 5vh;
  margin-bottom: 0.5vh;
}

/* 메뉴 감싸는 div_우리는 / 나눠요 / 버려요 */
.projectInfo {
  margin-left: 1vw;
  font-size: 2.5vh;
  font-weight: 700;
  letter-spacing: 0.2vw;
  display: inline-block;
  width: 7vw;
  height: 6vh;
  text-align: center;
  vertical-align: top;
  line-height: 6vh;
}

/* 네비게이션 메뉴_hover */
.projectInfo:hover {
  cursor: pointer;
}

/* 형광펜 효과_파란색 */
.highlighterBlue {
  background: linear-gradient(#8abaff 0 100%);
  background-position: 0 calc(100% - 0.3vh);
  background-size: 0 1.5vh;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
}

/* 형광펜 효과_파란색_hover */
.highlighterBlue:hover {
  background-size: 100% 1.5vh;
}

/* 회원가입, 로그인 div 영역 */
.rightGroup {
  float: right;
}

/* 로그인 했을 시 */
/* 나눔 이야기 (쪽지) */
.message {
  padding: 2vh;
  display: inline-flex;
  align-items: center;
  margin-right: 0.5vw;
  vertical-align: center;
  cursor: pointer;
}

/* ****************************쪽지 모달부분 ********************* */
.modal {
  display: none; /* 모달을 숨김 */
  position: fixed; /* 화면에 고정된 위치로 설정 */
  z-index: 10; /* 다른 요소보다 앞에 오도록 설정 */
  left: 0; /* 화면 왼쪽부터 시작 */
  top: 0; /* 화면 상단부터 시작 */
  width: 100%; /* 화면 전체 너비 */
  height: 100%; /* 화면 전체 높이 */
  background-color: rgba(0, 0, 0, 0.4); /* 반투명한 검정색 배경 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

/* 모달 콘텐츠 스타일 */
.modal-content {
  background-color: white;
  padding: 4vh 3vw; /* 패딩 */
  width: 40vw; /* 너비 설정 */
  height: 75vh; /* 높이 설정 */
  overflow-y: hidden;
}
/* 나눔 이야기 영역 */
/* 모달 상단 영역_타이틀, 닫기 */
.messageUpside {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

/* 사용자 이름과 신고하기 버튼 컨테이너 */
.usernameContainer {
  display: flex;
  align-items: center;
}

/* 사용자 이름 */
.usernameTitle {
  font-size: 2.5vh;
  letter-spacing: 0.1vw;
}

/* 쪽지방 목록 */
#messageListContainer {
  margin-top: 2vh;
  margin-bottom: 4vh;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  height: 49vh;
  width: 100%;
  overflow-y: scroll; /* 스크롤 기능 활성화 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
  -ms-overflow-style: none; /* IE와 Edge에서 스크롤바 숨기기 */
}

/* Webkit 브라우저 (Chrome, Safari, Edge)에서 스크롤바 숨기기 */
#messageListContainer::-webkit-scrollbar {
  display: none;
}

/* 메시지 보내기 영역 */
#detailContentsContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

/* 존재하는 메시지 */
#messageDetailsContainer {
  margin-top: 2vh;
  margin-bottom: 4vh;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  height: 49vh;
  width: 100%;
  overflow-y: scroll; /* 스크롤 기능 활성화 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
  -ms-overflow-style: none; /* IE와 Edge에서 스크롤바 숨기기 */
  box-shadow: rgba(149, 157, 165, 0.2) 0 1vh 2vh;
}

/* Webkit 브라우저 (Chrome, Safari, Edge)에서 스크롤바 숨기기 */
#messageDetailsContainer::-webkit-scrollbar {
  display: none;
}
/* 보내기 버튼 */
#sendMessageBtn {
  position: relative;
  padding-top: 0.2vh;
  padding-left: 0.5vw;
  right: 0.4vh;
  width: 8vh;
  height: 3.8vh;
  border-radius: 2.5vh;
  font-size: 1.7vh;
  letter-spacing: 0.05vw;
  background-color: #2dc986;
  color: white;
  border: 0.07vw solid black;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  z-index: 1;
}

/* 검색 버튼 호버 효과 */
#sendMessageBtn:hover {
  text-decoration: underline;
}

/* 나눔 완료 버튼 */
#sendMessageBtn {
  position: relative;
  padding-top: 0.2vh;
  padding-left: 0.5vw;
  right: 0.4vh;
  width: 8vh;
  height: 3.8vh;
  border-radius: 2.5vh;
  font-size: 1.7vh;
  letter-spacing: 0.05vw;
  background-color: #2dc986;
  color: white;
  border: 0.07vw solid black;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  z-index: 1;
}

/* 나눔 완료 버튼 호버 효과 */
#shareComplete:hover {
  text-decoration: underline;
}

/* 유저 신고하기 모달만 배경 투명 처리 */
#reportModal {
  background-color: transparent; /* 배경 투명 처리 */
}

.message-room {
  border: 0.07vw solid #ccc;
  padding: 1vh;
  margin-bottom: 1vh;
  cursor: pointer;
  background-color: #f9f9f9;
}

.message-room:hover {
  background-color: #e9e9e9;
}

/* .close 클래스는 모달의 닫기 버튼을 정의합니다. */
.close {
  font-size: 2.5vh;
  font-weight: 500;
  cursor: pointer;
}

/* 닫기 버튼에 마우스를 올리거나 포커스할 때의 스타일을 정의합니다. */
.close:hover,
.close:focus {
  color: black; /* 닫기 버튼에 마우스를 올렸을 때 색상이 검정으로 변경 */
  text-decoration: none; /* 닫기 버튼의 밑줄 제거 */
  cursor: pointer; /* 닫기 버튼에 마우스를 올렸을 때 커서를 손 모양으로 변경 */
}
/* 쪽지 이미지 */
.postImage {
  margin-top: 0;
  width: 1.5vw;
}

/* 보낸 이야기 영역 */
/* 보낸 메시지 영역 */
.myMessageArea {
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  text-align: right;
  width: 100%;
  height: auto;
}

/* 보낸 이야기_타이틀 */
.myMessage {
  font-size: 1.5vh;
  font-weight: 700;
  letter-spacing: 0.05vw;
  margin-bottom: 1.2vh;
  color: #2dc986;
}

/* 보낸 이야기_내용 */
.myMessageContent {
  font-size: 1.8vh;
  letter-spacing: 0.06vw;
  line-height: 3vh;
  margin-bottom: 1.2vh;
}

/* 보낸 메시지_날짜 */
.myMessageDate {
  font-size: 1.5vh;
  font-weight: 700;
  letter-spacing: 0.05vw;
  margin-bottom: 1.2vh;
  color: gray;
}

/* 받은 이야기 영역 */
.getMessageArea {
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  text-align: left;
  width: 100%;
  height: auto;
}

/* 받은 이야기_타이틀 */
.getMessage {
  font-size: 1.5vh;
  font-weight: 700;
  letter-spacing: 0.05vw;
  margin-bottom: 1.2vh;
  color: #8abaff;
}

/* 받은 이야기_내용 */
.getMessageContent {
  font-size: 1.8vh;
  letter-spacing: 0.06vw;
  line-height: 3.5vh;
  margin-bottom: 1.2vh;
}

/* 받은 메시지_날짜 */
.getMessageDate {
  font-size: 1.5vh;
  font-weight: 700;
  letter-spacing: 0.05vw;
  margin-bottom: 1.2vh;
  color: gray;
}

/* 메시지 보내기 영역 */
#messageContentsContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

/* 메시지 보내기 창 */
.messageContents {
  width: 100%;
  height: 4.5vh;
  padding: 0.8vh 8vh 0 2vh; /* 버튼을 위한 패딩 공간 */
  border: 0.07vw solid black;
  border-radius: 2.5vh; /* 둥근 모서리 */
  font-size: 2vh;
  line-height: 3vh;
  outline: none;
  resize: none;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Webkit 브라우저 (Chrome, Safari, Edge)에서 스크롤바 숨기기 */
.messageContents::-webkit-scrollbar {
  display: none;
}

/* 신고 영역 */
/* 모달 상단 영역_타이틀, 닫기 */
.reportUpside {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

/* 사용자 이름과 신고하기 버튼 컨테이너 */
.reportContainer {
  display: flex;
  align-items: center;
}

/* 신고하기 타이틀 */
.reportTitle {
  font-size: 2.5vh;
  letter-spacing: 0.1vw;
}

/* 신고하고자 하는 유저 닉네임 */
.reportUser {
  padding-top: 1vh;
  font-size: 1.7vh;
  letter-spacing: 0.07vw;
  color: gray;
  margin-left: 2vw;
}

/* 신고 폼 영역 */
.reportArea {
  margin-top: 4vh;
  margin-bottom: 4vh;
}

/* 신고사유_라디오버튼 */
.reportReason {
  display: flex;
  align-items: center;
  font-size: 2vh;
  letter-spacing: 0.05vw;
  line-height: 2vh;
  margin-bottom: 1vh;
}

/* 라디오버튼 체크 상태 스타일 */
input[type="radio"]:checked {
  background-color: black; /* 체크 상태의 배경색을 검정색으로 변경 */
}

/* Webkit 브라우저 (Chrome, Safari, Edge)에서 체크박스 모양을 변경 */
input[type="radio"] {
  appearance: none; /* 기본 체크박스 스타일 제거 */
  margin-right: 0.7vw;
  width: 1.5vh; /* 원하는 크기로 조정 */
  height: 1.5vh;
  cursor: pointer;
  border: 0.07vw solid black;
}

/* 체크된 상태의 라디오버튼 스타일 */
input[type="radio"]:checked {
  background-color: red;
}

/* 기타 사유 작성 창 */
.additionalReason {
  width: 90%;
  height: 30vh;
  margin-top: 0.5vh;
  margin-left: 1.5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  border: 0.07vw solid black;
  border-radius: 2.5vh; /* 둥근 모서리 */
  font-size: 2vh;
  line-height: 3.2vh;
  outline: none;
  resize: none;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* 보내기 버튼 */
.reportSubmit {
  margin: 5vh auto;
  width: 8vw;
  height: 5vh;
  color: white;
  background-color: gray;
  border-radius: 5vh;
  border: 0.07vw solid black;
  font-size: 2.1vh;
  font-weight: 700;
  letter-spacing: 0.1vw;
  cursor: pointer;
  padding-top: 0.5vh;
  display: block;
}

/* 검색 버튼 호버 효과 */
.reportSubmit:hover {
  color: white;
  background-color: red;
}

/* 유저 신고 확인용 모달 스타일 */
.confirm-report-modal-content {
  background-color: white;
  padding: 2vh 2vw;
  width: 30vw;
  height: 30vh;
  text-align: center;
  border-radius: 0.8vh;
}

/********************************* 쪽지 모달 css 끝 ************************** */

/* 나눔 이야기 알림 뱃지 */
.badge {
  color: black;
  margin-left: 0.5vw;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.2vw;
}

/* 마이페이지 */
.mypage {
  font-size: 1.8vh;
  font-weight: 500;
  letter-spacing: 0.05vw;
  display: inline-block;
  height: 6vh;
  text-align: center;
  text-decoration: underline;
  vertical-align: top;
  line-height: 6vh;
  margin-right: 2vw;
  color: gray;
}

/* 로그아웃 */
.logout {
  font-size: 1.8vh;
  font-weight: 500;
  letter-spacing: 0.05vw;
  display: inline-block;
  height: 6vh;
  text-align: center;
  text-decoration: underline;
  vertical-align: top;
  line-height: 6vh;
  color: gray;
}

/* 형광펜 효과_초록 */
.highlighterGreen {
  background: linear-gradient(#2dc986 0 100%);
  background-position: 0 calc(100% - 0.2vh);
  background-size: 0 0.9vh;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
}

/* 형광펜 효과_초록_hover */
.highlighterGreen:hover {
  color: black;
  background-size: 100% 0.9vh;
}

/* Blank_네비게이션 & 슬라이드 사이 공백 */
.blankContainer {
  height: 2vh;
  width: 93vw;
}

/****************************** 나눔 게시글 작성 ********************************************/
/* 나눔글 작성 전체 영역 */
.mainContainer {
  width: 93vw;
  height: 76vh;
  margin: auto;
  overflow: hidden;
}

/* 페이지 상단 영역_게시글 작성, 지도 */
.upsideContainer {
  display: flex;
  width: 100%;
  height: 67vh;
}

/* 상단 왼쪽 영역 | 게시글 작성 영역 */
.leftContainer {
  display: flex;
  float: left;
  width: 42vw;
  height: 100%;
  flex-direction: column; /* 세로 방향으로 정렬 */
  box-sizing: border-box;
  border: 0.07vw solid black;
  padding: 3vh;
  background-color: white;
}

/* 제목 작성 영역 */
.writeTitleArea {
  width: 100%;
  height: 6vh;
  box-sizing: border-box;
}

/* 제목 작성_input */
input#writeTitle {
  margin: auto;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "NEXON Lv1 Gothic OTF";
  font-size: 3.5vh;
  font-weight: 500;
  letter-spacing: 0.15vw;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: black;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 0vh;
}

/* 구분선 */
hr {
  width: 100%;
  border: 0.08vw solid black;
  margin-top: 1.8vh;
  margin-bottom: 3.5vh;
}

/* 본문 입력창 */
textarea#postContent {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 48vh;
  font-family: "NEXON Lv1 Gothic OTF";
  font-size: 2.4vh;
  letter-spacing: 0.15vw;
  color: black;
  resize: none;
  padding-top: 0vw;
  padding-left: 2vh;
  padding-right: 2vh;
  box-sizing: border-box;
  line-height: 3.5vh;
}

/* placeholder */
input::placeholder,
textarea::placeholder {
  color: #aaaaaa;
}

/* 오른쪽 영역 | 작성자 정보, 본문 등 */
.rightContainer {
  display: flex;
  justify-content: flex-end;
  width: 51vw;
  height: 100%;
  box-sizing: border-box;
}

/* 우측 상단 영역 */
.mapArea {
  width: 48vw;
  height: 100%;
  border: 0.07vw solid black;
  box-sizing: border-box;
}

/* 하단 영역 */
.downContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 6vh;
  margin: auto;
  margin-top: 3vh;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}

/* 사진 추가 영역 */
.addPhotoArea {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30vw;
  height: 100%;
}

/* 사진 추가 버튼 */
.addPhoto {
  margin-left: 0;
  /* 픽셀로 설정한다. */
  padding-top: 0.5vh;
  font-size: 300%;
  text-align: center;
  background-color: white;
  border: 0.07vw solid black;
  width: 3.4vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 사진 버튼_hover */
.addPhoto:hover {
  cursor: pointer;
}

/* 사진 미리보기 */
.preview {
  width: 3.4vw;
  height: 8.5vh;
  margin-right: 1vw;
}

/* 나눌래요 버튼 영역 */
.postingButtonArea {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 15vw;
  height: 100%;
}

/* 나눌래요 버튼 */
.postingButton {
  margin-left: 0;
  width: 10vw;
  height: 6vh;
  border: 0.07vw solid black;
  background-color: white;
  border-radius: 5vh;
  font-family: "NEXON Lv1 Gothic OTF";
  font-size: 150%;
  font-weight: 700;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 나눌래요 버튼_hover */
.postingButton:hover {
  background-color: #2dc986;
  color: black;
  cursor: pointer;
}

/* 나눌래요 버튼_비활성화 */
.postingButton:disabled {
  background-color: gray;
  border: 0.07vw solid gray;
  cursor: not-allowed;
}

/* 저작권 영역 */
.rightArea {
  margin: auto;
  margin-top: 4vh;
  width: 93vw;
  height: 3vh;
  white-space: nowrap;
  text-align: center;
  line-height: 3vh;
  font-size: 1.4vh;
  font-weight: 500;
  text-decoration: underline;
  color: gray;
}
