/* main_style_css */
   /* Font | Pretendard */
   @font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


    /* General Reset */
    * {
        box-sizing: border-box;
    }


/* Body에 font 적용 */
body {
    font-family: 'NEXON Lv1 Gothic OTF';
    box-sizing: border-box;
    background-image: url('/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    -ms-overflow-style: none;
}

/* 스크롤바 없애기 */
::-webkit-scrollbar {
    display: none;
}

    /* a태그 속성 없애기 */
    a {
        color: inherit;
        text-decoration: inherit;
    }


    /* 이미지 */
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


/* 네비게이션 */
/* 네비게이션 */
/* 네비게이션이 영역 div */
.navigationContainer {
    margin: auto;
    margin-top: 5vh;
    width: 93vw;
    height: 6vh;
    white-space: nowrap;
}


/* 로고 감싸는 div */
.logo {
    display: inline-block;
    height: 6vh;
    margin-right: 1vw;
}

/* 로고 이미지 */
.logoImg {
    height: 5vh;
    margin-bottom: 0.5vh;
}


/* 메뉴 감싸는 div_우리는 / 나눠요 / 버려요 */
.projectInfo {
    margin-left: 1vw;
    font-size: 2.5vh;
    font-weight: 700;
    letter-spacing: 0.2vw;
    display: inline-block;
    width: 7vw;
    height: 6vh;
    text-align: center;
    vertical-align: top;
    line-height: 6vh;
}

/* 네비게이션 메뉴_hover */
.projectInfo:hover {
    cursor: pointer;
}


/* 형광펜 효과_파란색 */
.highlighterBlue {
    background: linear-gradient(#8ABAFF 0 100%);
    background-position: 0 calc(100% - 0.3vh);
    background-size: 0 1.5vh;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
}

/* 형광펜 효과_파란색_hover */
.highlighterBlue:hover {
    background-size: 100% 1.5vh;
}


/* 회원가입, 로그인 div 영역 */
.rightGroup {
    float: right;
}

/* 로그인 했을 시 */
/* 나눔 이야기 (쪽지) */
.message {
    padding: 2vh;
    display: inline-flex;
    align-items: center;
    margin-right: 0.5vw;
    vertical-align: center;
    cursor: pointer;
}

/* ****************************쪽지 모달부분 ********************* */
.modal {
    display: none; /* 모달을 숨김 */
    position: fixed; /* 화면에 고정된 위치로 설정 */
    z-index: 2; /* 다른 요소보다 앞에 오도록 설정 */
    left: 0; /* 화면 왼쪽부터 시작 */
    top: 0; /* 화면 상단부터 시작 */
    width: 100%; /* 화면 전체 너비 */
    height: 100%; /* 화면 전체 높이 */
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검정색 배경 */
  }

  .modal-content {
    background-color: #fff;
    margin: 10% auto; /* 창 크기가 커질 경우, 위 여백을 줄일 수도 있음 */
    padding: 30px; /* 패딩을 늘려서 내부 콘텐츠 여백도 증가 */
    border: 1px solid #888;
    width: 90%; /* 너비를 화면의 90%로 변경 */
    max-width: 600px; /* 최대 너비를 600px로 확장 */
    text-align: center;
  }

  .message-room {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #f9f9f9;
  }

  .message-room:hover {
    background-color: #e9e9e9;
  }

  /* .close 클래스는 모달의 닫기 버튼을 정의합니다. */
  .close {
    color: #aaa; /* 닫기 버튼의 기본 색상 */
    float: right; /* 닫기 버튼을 모달의 오른쪽 상단에 배치 */
    font-size: 28px; /* 닫기 버튼의 글자 크기 */
    font-weight: bold; /* 닫기 버튼의 글자 두께를 두껍게 설정 */
  }

  /* 닫기 버튼에 마우스를 올리거나 포커스할 때의 스타일을 정의합니다. */
  .close:hover,
  .close:focus {
    color: black; /* 닫기 버튼에 마우스를 올렸을 때 색상이 검정으로 변경 */
    text-decoration: none; /* 닫기 버튼의 밑줄 제거 */
    cursor: pointer; /* 닫기 버튼에 마우스를 올렸을 때 커서를 손 모양으로 변경 */
  }
  /* 쪽지 이미지 */
  .postImage {
      margin-top: 0;
      width: 1.5vw;
  }
  /********************************* 쪽지 모달 css 끝 ************************** */


/* 나눔 이야기 알림 뱃지 */
.badge {
    color: black;
    margin-left: 0.5vw;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.2vw;
}

/* 마이페이지 */
.mypage {
    font-size: 1.8vh;
    font-weight: 500;
    letter-spacing: 0.05vw;
    display: inline-block;
    height: 6vh;
    text-align: center;
    text-decoration: underline;
    vertical-align: top;
    line-height: 6vh;
    margin-right: 2vw;
    color: gray;
}

/* 로그아웃 */
.logout {
    font-size: 1.8vh;
    font-weight: 500;
    letter-spacing: 0.05vw;
    display: inline-block;
    height: 6vh;
    text-align: center;
    text-decoration: underline;
    vertical-align: top;
    line-height: 6vh;
    color: gray;
}


/* 형광펜 효과_초록 */
.highlighterGreen {
    background: linear-gradient(#2DC986 0 100%);
    background-position: 0 calc(100% - 0.2vh);
    background-size: 0 0.9vh;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
}

/* 형광펜 효과_초록_hover */
.highlighterGreen:hover {
    color: black;
    background-size: 100% 0.9vh;
}


/* Blank_네비게이션 & 슬라이드 사이 공백 */
.blankContainer {
    height: 2vh;
    width: 93vw;
}


/****************************** 나눔 게시글 작성 ********************************************/
    /* 나눔글 작성 전체 영역 */
    .mainContainer {
        width: 93vw;
        height: 76vh;
        margin: auto;
        overflow: hidden;
    }


    /* 페이지 상단 영역_게시글 작성, 지도 */
    .upsideContainer {
        display: flex;
        width: 100%;
        height: 67vh;
    }

    /* 상단 왼쪽 영역 | 게시글 작성 영역 */
    .leftContainer {
        display: flex;
        float: left;
        width: 42vw;
        height: 100%;
        flex-direction: column;     /* 세로 방향으로 정렬 */
        box-sizing: border-box;
        border: 0.07vw solid black;
        padding: 3vh;
        background-color: white;
    }

    /* 제목 작성 영역 */
    .writeTitleArea {
        width: 100%;
        height: 6vh;
        box-sizing: border-box;
    }

    /* 제목 작성_input */
    input#writeTitle {
        margin: auto;
        border: none;
        outline: none;
        background-color: transparent;
        font-family: 'NEXON Lv1 Gothic OTF';
        font-size: 3.5vh;
        font-weight: 500;
        letter-spacing: 0.15vw;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        color: black;
        padding-left: 1vw;
        padding-right: 1vw;
        padding-bottom: 0vh;
    }

    /* 구분선 */
    hr {
        width: 100%;
        border: 0.8px solid black;
        margin-top: 1.8vh;
        margin-bottom: 3.5vh;      
    }

    /* 본문 입력창 */
    textarea#postContent {
        border: none;
        outline: none;
        background-color: transparent;
        width: 100%;
        height: 48vh;
        font-family: 'NEXON Lv1 Gothic OTF';
        font-size: 2.4vh;
        letter-spacing: 0.15vw;
        color: black;
        resize: none;
        padding-top: 0vw;
        padding-left: 2vh;
        padding-right: 2vh;
        box-sizing: border-box;
        line-height: 3.5vh;
    }

    /* placeholder */
    input::placeholder, textarea::placeholder {
        color: #aaaaaa;
    }


    /* 오른쪽 영역 | 작성자 정보, 본문 등 */
    .rightContainer {
        display: flex;
        justify-content: flex-end;
        width: 51vw;
        height: 100%;
        box-sizing: border-box;
        /* background-color: gray; */
    }

    /* 우측 상단 영역 */
    .mapArea {
        width: 48vw;
        height: 100%;
        border: 1px solid black;
        box-sizing: border-box;
        /* background-color: cadetblue; */
    }


    /* 하단 영역 */
    .downContainer {
        display: flex;
        position: relative;
        width: 100%;
        height: 6vh;
        margin: auto;
        margin-top: 3vh;
        padding: 0;
        align-items: center;
        justify-content: space-between;
    }  
    
    
    /* 사진 추가 영역 */
    .addPhotoArea {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 30vw;
        height: 100%;
    }

    /* 사진 추가 버튼 */
    .addPhoto {
        margin-left: 0;
        /* 픽셀로 설정한다. */
        padding-top: 5px; 
        font-size: 300%;
        text-align: center;
        background-color: white;
        border: 0.07vw solid black;
        width: 3.4vw;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* 사진 버튼_hover */
    .addPhoto:hover {
        cursor: pointer;
    }

    /* 사진 미리보기 */
    .preview{
        width: 3.4vw;
        height: 8.5vh;
        margin-right: 1vw;
    }


    /* 나눌래요 버튼 영역 */
    .postingButtonArea {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 15vw;
        height: 100%;
    }

    /* 나눌래요 버튼 */
    .postingButton {
        margin-left: 0;
        width: 10vw;
        height: 6vh;
        background: linear-gradient(#2DC986 0 100%);
        border: 0.07vw solid black;
        border-radius: 5vh;
        font-family: 'NEXON Lv1 Gothic OTF';
        font-size: 150%;
        font-weight: 700;
        color: black;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* 나눌래요 버튼_hover */
    .postingButton:hover {
        background-color: #00FFFF;
        color: black;
        text-decoration: underline;
        cursor: pointer;
    }

    /* 나눌래요 버튼_비활성화 */
    .postingButton:disabled {
        background-color: gray;
        border: 0.07vw solid gray;
        cursor: not-allowed;
    }

    /* 저작권 영역 */
    .rightArea {
        margin: auto;
        margin-top: 4vh;
        width: 93vw;
        height: 3vh;
        white-space: nowrap;
        text-align: center;
        line-height: 3vh;
        font-size: 1.4vh;
        font-weight: 500;
        text-decoration: underline;
        color: gray;
    }