/* main_style_css */

/* Font | Pretendard */
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* General Reset */
* {
  box-sizing: border-box;
}

/* Body에 font 적용 */
body {
  font-family: "NEXON Lv1 Gothic OTF";
  box-sizing: border-box;
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  -ms-overflow-style: none;
}

/* 스크롤바 없애기 */
::-webkit-scrollbar {
  display: none;
}

/* 이미지 */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* a태그 속성 없애기 */
a {
  color: inherit;
  text-decoration: inherit;
}

/* 네비게이션 */
/* 네비게이션이 영역 div */
.navigationContainer {
  margin: auto;
  margin-top: 5vh;
  width: 93vw;
  height: 6vh;
  white-space: nowrap;
}

/* 로고 감싸는 div */
.logo {
  display: inline-block;
  height: 6vh;
  margin-right: 1vw;
}

/* 로고 이미지 */
.logoImg {
  height: 5vh;
  margin-bottom: 0.5vh;
}

/* 메뉴 감싸는 div_우리는 / 나눠요 / 버려요 */
.projectInfo {
  margin-left: 1vw;
  font-size: 2.5vh;
  font-weight: 700;
  letter-spacing: 0.2vw;
  display: inline-block;
  width: 7vw;
  height: 6vh;
  text-align: center;
  vertical-align: top;
  line-height: 6vh;
}

/* 네비게이션 메뉴_hover */
.projectInfo:hover {
  cursor: pointer;
}

/* 형광펜 효과_파란색 */
.highlighterBlue {
  background: linear-gradient(#8abaff 0 100%);
  background-position: 0 calc(100% - 0.3vh);
  background-size: 0 1.5vh;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
}

/* 형광펜 효과_파란색_hover */
.highlighterBlue:hover {
  background-size: 100% 1.5vh;
}

/* 형광펜 효과_빨간색 */
.highlighterRed {
  background: linear-gradient(red 0 100%);
  background-position: 0 calc(100% - 0.25vh);
  background-size: 0 0.8vh;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
}

/* 형광펜 효과_빨간색_hover */
.highlighterRed:hover {
  background-size: 100% 1.2vh;
  color: black;
  cursor: pointer;
}

/* 회원가입, 로그인 div 영역 */
.rightGroup {
  float: right;
}

/* 로그인 안했을 시 */
/* 회원가입 */
.join {
  font-size: 1.8vh;
  font-weight: 500;
  letter-spacing: 0.05vw;
  display: inline-block;
  height: 6vh;
  text-align: center;
  text-decoration: underline;
  vertical-align: top;
  line-height: 6vh;
  margin-right: 2vw;
  color: gray;
}

/* 로그인 */
.login {
  font-size: 1.8vh;
  font-weight: 500;
  letter-spacing: 0.05vw;
  display: inline-block;
  height: 6vh;
  text-align: center;
  text-decoration: underline;
  vertical-align: top;
  line-height: 6vh;
  color: gray;
}

/* 로그인 했을 시 */
/* 나눔 이야기 (쪽지) */
.message {
  padding: 2vh;
  display: inline-flex;
  align-items: center;
  margin-right: 0.5vw;
  vertical-align: center;
  cursor: pointer;
}

/* 쪽지 모달부분  */
.modal {
  display: none; /*모달을 숨김*/
  position: fixed; /* 화면에 고정된 위치로 설정 */
  z-index: 10; /* 다른 요소보다 앞에 오도록 설정 */
  left: 0; /* 화면 왼쪽부터 시작 */
  top: 0; /* 화면 상단부터 시작 */
  width: 100%; /* 화면 전체 너비 */
  height: 100%; /* 화면 전체 높이 */
  background-color: rgba(0, 0, 0, 0.4); /* 반투명한 검정색 배경 */
  /* 중앙 정렬을 위한 플렉스 설정 */
  /* display: flex; */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

.modal-content {
  background-color: white;
  padding: 4vh 3vw; /* 패딩 */
  width: 40vw; /* 너비 설정 */
  height: 75vh; /* 높이 설정 */
  overflow-y: hidden;
}
/* 나눔 이야기 영역 */
/* 모달 상단 영역_타이틀, 닫기 */
.messageUpside {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  /* background-color: aquamarine; */
}

/* 사용자 이름과 신고하기 버튼 컨테이너 */
.usernameContainer {
  display: flex;
  align-items: center;
}

/* 사용자 이름 */
.usernameTitle {
  font-size: 2.5vh;
  letter-spacing: 0.1vw;
}

/* 쪽지방 목록 */
#messageListContainer {
  margin-top: 2vh;
  margin-bottom: 4vh;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  height: 49vh;
  width: 100%;
  overflow-y: scroll; /* 스크롤 기능 활성화 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
  -ms-overflow-style: none; /* IE와 Edge에서 스크롤바 숨기기 */
}

/* Webkit 브라우저 (Chrome, Safari, Edge)에서 스크롤바 숨기기 */
#messageListContainer::-webkit-scrollbar {
  display: none;
}

/* 메시지 보내기 영역 */
#detailContentsContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

/* 존재하는 메시지 */
#messageDetailsContainer {
  margin-top: 2vh;
  margin-bottom: 4vh;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  height: 49vh;
  width: 100%;
  overflow-y: scroll; /* 스크롤 기능 활성화 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
  -ms-overflow-style: none; /* IE와 Edge에서 스크롤바 숨기기 */
  /* border: 0.07vw solid black; */
  box-shadow: rgba(149, 157, 165, 0.2) 0 1vh 2vh;
}

/* Webkit 브라우저 (Chrome, Safari, Edge)에서 스크롤바 숨기기 */
#messageDetailsContainer::-webkit-scrollbar {
  display: none;
}

/* 보내기 버튼 */
#sendMessageBtn {
  position: relative;
  padding-top: 0.2vh;
  padding-left: 0.5vw;
  right: 0.4vh;
  width: 8vh;
  height: 3.8vh;
  border-radius: 2.5vh;
  font-size: 1.7vh;
  letter-spacing: 0.05vw;
  background-color: #2dc986;
  color: white;
  border: 0.07vw solid black;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  z-index: 1;
}

/* 검색 버튼 호버 효과 */
#sendMessageBtn:hover {
  text-decoration: underline;
}

/* 나눔 완료 버튼 */
#sendMessageBtn {
  position: relative;
  padding-top: 0.2vh;
  padding-left: 0.5vw;
  right: 0.4vh;
  width: 8vh;
  height: 3.8vh;
  border-radius: 2.5vh;
  font-size: 1.7vh;
  letter-spacing: 0.05vw;
  background-color: #2dc986;
  color: white;
  border: 0.07vw solid black;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  z-index: 1;
}

/* 나눔 완료 버튼 호버 효과 */
#shareComplete:hover {
  text-decoration: underline;
}

/* 유저 신고하기 모달만 배경 투명 처리 */
#reportModal {
  background-color: transparent; /* 배경 투명 처리 */
}

.message-room {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.message-room:hover {
  background-color: #e9e9e9;
}

/* .close 클래스는 모달의 닫기 버튼을 정의합니다. */
.close {
  font-size: 2.5vh;
  font-weight: 500;
  cursor: pointer;
}

/* 닫기 버튼에 마우스를 올리거나 포커스할 때의 스타일을 정의합니다. */
.close:hover,
.close:focus {
  color: black; /* 닫기 버튼에 마우스를 올렸을 때 색상이 검정으로 변경 */
  text-decoration: none; /* 닫기 버튼의 밑줄 제거 */
  cursor: pointer; /* 닫기 버튼에 마우스를 올렸을 때 커서를 손 모양으로 변경 */
}

/* 보낸 이야기 영역 */
/* 보낸 메시지 영역 */
.myMessageArea {
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  text-align: right;
  width: 100%;
  height: auto;
  /* background-color: aliceblue; */
}

/* 보낸 이야기_타이틀 */
.myMessage {
  font-size: 1.5vh;
  font-weight: 700;
  letter-spacing: 0.05vw;
  margin-bottom: 1.2vh;
  color: #2dc986;
}

/* 보낸 이야기_내용 */
.myMessageContent {
  font-size: 1.8vh;
  letter-spacing: 0.06vw;
  line-height: 3vh;
  margin-bottom: 1.2vh;
}

/* 보낸 메시지_날짜 */
.myMessageDate {
  font-size: 1.5vh;
  font-weight: 700;
  letter-spacing: 0.05vw;
  margin-bottom: 1.2vh;
  color: gray;
}

/* 받은 이야기 영역 */
.getMessageArea {
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  text-align: left;
  width: 100%;
  height: auto;
}

/* 받은 이야기_타이틀 */
.getMessage {
  font-size: 1.5vh;
  font-weight: 700;
  letter-spacing: 0.05vw;
  margin-bottom: 1.2vh;
  color: #8abaff;
}

/* 받은 이야기_내용 */
.getMessageContent {
  font-size: 1.8vh;
  letter-spacing: 0.06vw;
  line-height: 3.5vh;
  margin-bottom: 1.2vh;
}

/* 받은 메시지_날짜 */
.getMessageDate {
  font-size: 1.5vh;
  font-weight: 700;
  letter-spacing: 0.05vw;
  margin-bottom: 1.2vh;
  color: gray;
}

/* 메시지 보내기 창 */
.messageContents {
  width: 100%;
  height: 4.5vh;
  padding: 0.8vh 8vh 0 2vh; /* 버튼을 위한 패딩 공간 */
  border: 0.07vw solid black;
  border-radius: 2.5vh; /* 둥근 모서리 */
  font-size: 2vh;
  line-height: 3vh;
  outline: none;
  resize: none;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Webkit 브라우저 (Chrome, Safari, Edge)에서 스크롤바 숨기기 */
.messageContents::-webkit-scrollbar {
  display: none;
}

/* 신고 영역 */
/* 모달 상단 영역_타이틀, 닫기 */
.reportUpside {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  /* background-color: aquamarine; */
}

/* 사용자 이름과 신고하기 버튼 컨테이너 */
.reportContainer {
  display: flex;
  align-items: center;
}

/* 신고하기 타이틀 */
.reportTitle {
  font-size: 2.5vh;
  letter-spacing: 0.1vw;
}

/* 신고하고자 하는 유저 닉네임 */
.reportUser {
  padding-top: 1vh;
  font-size: 1.7vh;
  letter-spacing: 0.07vw;
  color: gray;
  margin-left: 2vw;
}

/* 신고 폼 영역 */
.reportArea {
  margin-top: 4vh;
  margin-bottom: 4vh;
  /* background-color: aliceblue; */
}

/* 신고사유_라디오버튼 */
.reportReason {
  display: flex;
  align-items: center;
  font-size: 2vh;
  letter-spacing: 0.05vw;
  line-height: 2vh;
  margin-bottom: 1vh;
}

/* 라디오버튼 체크 상태 스타일 */
input[type="radio"]:checked {
  background-color: black; /* 체크 상태의 배경색을 검정색으로 변경 */
}

/* Webkit 브라우저 (Chrome, Safari, Edge)에서 체크박스 모양을 변경 */
input[type="radio"] {
  appearance: none; /* 기본 체크박스 스타일 제거 */
  margin-right: 0.7vw;
  width: 1.5vh; /* 원하는 크기로 조정 */
  height: 1.5vh;
  cursor: pointer;
  border: 0.07vw solid black;
}

/* 체크된 상태의 라디오버튼 스타일 */
input[type="radio"]:checked {
  background-color: red;
}

/* 기타 사유 작성 창 */
.additionalReason {
  width: 90%;
  height: 30vh;
  margin-top: 0.5vh;
  margin-left: 1.5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  border: 0.07vw solid black;
  border-radius: 2.5vh; /* 둥근 모서리 */
  font-size: 2vh;
  line-height: 3.2vh;
  outline: none;
  resize: none;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* 보내기 버튼 */
.reportSubmit {
  margin: 5vh auto;
  width: 8vw;
  height: 5vh;
  color: white;
  background-color: gray;
  border-radius: 5vh;
  border: 0.07vw solid black;
  font-size: 2.1vh;
  font-weight: 700;
  letter-spacing: 0.1vw;
  cursor: pointer;
  padding-top: 0.5vh;
  display: block;
}

/* 검색 버튼 호버 효과 */
.reportSubmit:hover {
  color: white;
  background-color: red;
}

/* 모달 버튼 스타일 */
.modal-button {
  padding: 1vh 2vw;
  margin: 2vh 1vw;
  font-size: 2vh;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.cancel-button {
  background-color: lightgray;
}

.report-confirm-button {
  background-color: red;
  color: white;
}

/* 유저 신고 확인용 모달 스타일 */
.confirm-report-modal-content {
  background-color: white;
  padding: 2vh 2vw;
  width: 30vw;
  height: 30vh;
  text-align: center;
  border-radius: 8px;
}

/* 신고하기 버튼 */
.userReportButton {
  padding-top: 1vh;
  font-size: 1.7vh;
  letter-spacing: 0.07vw;
  color: gray;
  margin-left: 2vw;
}
/* 쪽지 모달 css 끝  */

/* 쪽지 이미지 */
.postImage {
  margin-top: 0;
  width: 1.5vw;
}

/* 나눔 이야기 알림 뱃지 */
.badge {
  color: black;
  margin-left: 0.5vw;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.2vw;
}

/* 마이페이지 */
.mypage {
  font-size: 1.8vh;
  font-weight: 500;
  letter-spacing: 0.05vw;
  display: inline-block;
  height: 6vh;
  text-align: center;
  text-decoration: underline;
  vertical-align: top;
  line-height: 6vh;
  margin-right: 2vw;
  color: gray;
}

/* 로그아웃 */
.logout {
  font-size: 1.8vh;
  font-weight: 500;
  letter-spacing: 0.05vw;
  display: inline-block;
  height: 6vh;
  text-align: center;
  text-decoration: underline;
  vertical-align: top;
  line-height: 6vh;
  color: gray;
}

/* 형광펜 효과_초록 */
.highlighterGreen {
  background: linear-gradient(#2dc986 0 100%);
  background-position: 0 calc(100% - 0.2vh);
  background-size: 0 0.9vh;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
}

/* 형광펜 효과_초록_hover */
.highlighterGreen:hover {
  color: black;
  background-size: 100% 0.9vh;
}

/* Blank_네비게이션 & 슬라이드 사이 공백 */
.blankContainer {
  height: 2vh;
  width: 93vw;
}

/* 메인 컨텐츠 영역 */
/* 메인 컨텐츠 컨테이너 */
#mainContainer {
  width: 93vw;
  height: 88vh;
  margin: auto;
}

/* Blank_네비게이션 & 메인 컨텐츠 사이 공백 */
.blankContainer {
  height: 2vh;
  width: 93vw;
}

/* 검색 영역 */
.searchArea {
  display: flex;
  justify-content: space-between; /* 양 끝으로 정렬 */
  align-items: center; /* 가운데 정렬 */
  width: 93vw;
  height: 6vh;
}

/* 검색창_input 영역 */
#searchContainer {
  width: 31vw;
  height: 6vh;
  display: inline-block;
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  position: relative;
  font-family: "NEXON Lv1 Gothic OTF";
}

/* 검색창 input_왼쪽 blank */
.serchBlankL {
  width: 31vw;
  height: 6vh;
}

/* 검색창 input_오른쪽 blank */
.serchBlankR {
  width: 23vw;
  height: 6vh;
}

/* 검색창 input 내의 버튼_검색 */
#searchContainer button {
  font-family: "NEXON Lv1 Gothic OTF";
  position: absolute;
  text-align: center;
  right: 1.5vh;
  width: 6.3vh;
  height: 3vh;
  border-radius: 5vh;
  font-size: 1.6vh;
  letter-spacing: 0.05vw;
  top: 1.5vh;
  bottom: 1.7vh;
  color: black;
  background-color: #2dc986;
  border: 0.07vw solid black;
  cursor: pointer;
  font-weight: 500;
  padding-top: 0.2vh;
}

/* 검색창 input 내의 버튼_검색_input */
#searchContainer button:hover {
  text-decoration: underline;
}

/* 검색 창_input */
.search {
  font-family: "NEXON Lv1 Gothic OTF";
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 30vw;
  height: 4vh;
  border: 0.07vw solid black;
  border-radius: 5vh;
  text-align: center;
  font-size: 2.1vh;
  letter-spacing: 0.1vw;
}

/* 초기화 버튼 */
.resetButton {
  font-family: "NEXON Lv1 Gothic OTF";
  position: absolute;
  right: -7vh;
  /* 검색 버튼 옆에 위치 */
  top: 1.9vh;
  font-size: 1.8vh;
  letter-spacing: 0.1vw;
  color: gray;
  cursor: pointer;
  text-decoration: underline;
}

/* 나눔하기 버튼 영역 */
.wantShareArea {
  margin: auto;
  float: right;
  width: 8vw;
  height: 6vh;
}

/* 나눔하기 버튼 */
.wantShare {
  font-family: "NEXON Lv1 Gothic OTF";
  width: 8vw;
  height: 5vh;
  color: black;
  background-color: #8abaff;
  border-radius: 5vh;
  border: 0.07vw solid black;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  font-size: 2.1vh;
  font-weight: 700;
  letter-spacing: 0.1vw;
  cursor: pointer;
  padding-top: 0.5vh;
}

/* 나눔하기 버튼_hover */
.wantShare:hover {
  text-decoration: underline;
  cursor: pointer;
  border: 0.07vw solid black;
  color: black;
}

/* 지도와 게시글 영역 */
.mainContentsArea {
  display: flex;
  justify-content: space-between; /* 두 영역 사이에 간격을 줌 */
  align-items: flex-start; /* 높이를 기준으로 위쪽 정렬 */
}

/* 지도 영역 */
.mapArea {
  margin-top: 1.5vh;
  width: 60vw;
  height: 71vh;
  border: 0.07vw solid black;
  box-sizing: border-box;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* infoWindow  */
/* 마커 전체 영역 */
.mapInfo {
  padding: 2.5vh;
  width: 15vw;
  height: 15vw;
  border: 0.07vw solid black;
  background-color: white;
  box-sizing: border-box;
}

/* 마커 내 게시글 제목 */
.markerPostName {
  margin-bottom: 1.5vh;
  font-size: 2vh;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 13vw;
}

/* 마커 내 작성자 이름 */
.markerUserName {
  margin-bottom: 1.5vh;
  font-size: 1.7vh;
}

/* 마커 내부 이미지 */
.markerImage {
  width: 12vw;
  height: 16vh;
  background-color: antiquewhite;
}

/* 마커 내부 이미지_사진 */
.markerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 나눠요 영역 */
.shareArea {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  /* 줄바꿈을 허용하여 게시글 수가 맞지 않아도 흐트러지지 않도록 함 */
  margin-top: 1.5vh;
  padding-bottom: 0;
  justify-content: flex-start;
  /* 게시글이 왼쪽 정렬되게 설정 */
  gap: 1vh;
  /* 게시글 사이에 일정 간격을 둠 */
  width: 32.5vw;
  height: 71vh;
  overflow-y: auto; /* 스크롤을 적용 */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* 나눠요 게시글 영역_div 박스 */
.sharePosting {
  width: 245.7px;
  /* width: calc(25% - 2vh); */
  /* 각 게시글을 4개씩 한 줄에 표시, gap을 고려한 너비 계산 */
  /* 글자 수가 4개 미만이 되면 영역 폭이 계속 변해서 345px 로 고정시켰음  */
  height: 36vh;
  margin-bottom: 2vh;
  border: 0.07vw solid black;
  background-color: white;
  box-sizing: border-box;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* 나눠요 게시글_제목 */
.sharePostTitle {
  font-size: 2.3vh;
  font-weight: 700;
  letter-spacing: 0.08vw;
  overflow: hidden; /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis;
  white-space: nowrap;
  background: linear-gradient(#8abaff 0 100%);
  background-position: 0 calc(100% - 2px);
  background-size: 0 14px;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
}

/* 나눠요 게시글_제목_hover */
.sharePostTitle:hover {
  background-size: 100% 14px; /* hover 시 배경 확장 */
}

/* 나눠요 게시글_이미지 영역 */
.shareImage {
  width: 100%;
  height: 18vh;
  overflow: hidden;
}

/* 나눠요_본문 영역 */
.postContentArea {
  width: 100%;
  line-height: 2.7vh;
}

/* 나눠요 게시글_본문 글 */
.postContent {
  font-size: 1.8vh;
  line-height: 2.5vh;
  letter-spacing: 0.05vw;
}

/* 게시글 하단 정보 영역 */
.postInfo {
  width: 100%;
  color: gray;
}

/* 게시글 정보_작성자 닉네임 */
.userName {
  font-size: 1.6vh;
  float: left;
  letter-spacing: 0.05vw;
}

/* 게시글 정보_작성 일시 */
.postDate {
  font-size: 1.6vh;
  float: right;
  letter-spacing: 0.05vw;
}

/* 저작권 영역 */
.rightContainer {
  position: absolute; /* 하단에 고정 */
  padding-top: 4vh;
  padding-bottom: 5vh;
  width: 93vw;
  height: 3vh;
  white-space: nowrap;
  text-align: center;
  line-height: 3vh;
  font-size: 1.4vh;
  font-weight: 500;
  text-decoration: underline;
  color: gray;
}
