/* share_post_style_css */
   /* Font | Pretendard */
   @font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* General Reset */
* {
    box-sizing: border-box;
}


/* Body에 font 적용 */
body {
    font-family: 'NEXON Lv1 Gothic OTF';
    box-sizing: border-box;
    background-image: url('/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    -ms-overflow-style: none;
}

/* 스크롤바 없애기 */
::-webkit-scrollbar {
    display: none;
}

    /* a태그 속성 없애기 */
    a {
        color: inherit;
        text-decoration: inherit;
    }


    /* 슬라이드에서 사용 될 리스트 속성 */
    li {
        list-style: none;
    }


    /* 이미지 */
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/* 네비게이션 */
/* 네비게이션이 영역 div */
.navigationContainer {
    margin: auto;
    margin-top: 5vh;
    width: 93vw;
    height: 6vh;
    white-space: nowrap;
}


/* 로고 감싸는 div */
.logo {
    display: inline-block;
    height: 6vh;
    margin-right: 1vw;
}

/* 로고 이미지 */
.logoImg {
    height: 5vh;
    margin-bottom: 0.5vh;
}


/* 메뉴 감싸는 div_우리는 / 나눠요 / 버려요 */
.projectInfo {
    margin-left: 1vw;
    font-size: 2.5vh;
    font-weight: 700;
    letter-spacing: 0.2vw;
    display: inline-block;
    width: 7vw;
    height: 6vh;
    text-align: center;
    vertical-align: top;
    line-height: 6vh;
}

/* 네비게이션 메뉴_hover */
.projectInfo:hover {
    cursor: pointer;
}


/* 형광펜 효과_파란색 */
.highlighterBlue {
    background: linear-gradient(#8ABAFF 0 100%);
    background-position: 0 calc(100% - 0.3vh);
    background-size: 0 1.5vh;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
}

/* 형광펜 효과_파란색_hover */
.highlighterBlue:hover {
    background-size: 100% 1.5vh;
}


/* 회원가입, 로그인 div 영역 */
.rightGroup {
    float: right;
}

/* 로그인 안했을 시 */
/* 회원가입 */
.join {
    font-size: 1.8vh;
    font-weight: 500;
    letter-spacing: 0.05vw;
    display: inline-block;
    height: 6vh;
    text-align: center;
    text-decoration: underline;
    vertical-align: top;
    line-height: 6vh;
    margin-right: 2vw;
    color: rgb(99, 99, 99);
}


/* 로그인 */
.login {
    font-size: 1.8vh;
    font-weight: 500;
    letter-spacing: 0.05vw;
    display: inline-block;
    height: 6vh;
    text-align: center;
    text-decoration: underline;
    vertical-align: top;
    line-height: 6vh;
    color: rgb(99, 99, 99);
}


/* 로그인 했을 시 */
/* 나눔 이야기 (쪽지) */
.message {
    padding: 2vh;
    display: inline-flex;
    align-items: center;
    margin-right: 0.5vw;
    vertical-align: center;
    cursor: pointer;
}

/* 쪽지 모달부분  */
.modal {
    display: none; /* 모달을 숨김 */
    position: fixed; /* 화면에 고정된 위치로 설정 */
    z-index: 2; /* 다른 요소보다 앞에 오도록 설정 */
    left: 0; /* 화면 왼쪽부터 시작 */
    top: 0; /* 화면 상단부터 시작 */
    width: 100%; /* 화면 전체 너비 */
    height: 100%; /* 화면 전체 높이 */
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검정색 배경 */
  }

  .modal-content {
    background-color: #fff;
    margin: 10% auto; /* 창 크기가 커질 경우, 위 여백을 줄일 수도 있음 */
    padding: 30px; /* 패딩을 늘려서 내부 콘텐츠 여백도 증가 */
    border: 1px solid #888;
    width: 90%; /* 너비를 화면의 90%로 변경 */
    max-width: 600px; /* 최대 너비를 600px로 확장 */
    text-align: center;
  }

  .message-room {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #f9f9f9;
  }

  .message-room:hover {
    background-color: #e9e9e9;
  }

  /* .close 클래스는 모달의 닫기 버튼을 정의합니다. */
  .close {
    color: #aaa; /* 닫기 버튼의 기본 색상 */
    float: right; /* 닫기 버튼을 모달의 오른쪽 상단에 배치 */
    font-size: 28px; /* 닫기 버튼의 글자 크기 */
    font-weight: bold; /* 닫기 버튼의 글자 두께를 두껍게 설정 */
  }

  /* 닫기 버튼에 마우스를 올리거나 포커스할 때의 스타일을 정의합니다. */
  .close:hover,
  .close:focus {
    color: black; /* 닫기 버튼에 마우스를 올렸을 때 색상이 검정으로 변경 */
    text-decoration: none; /* 닫기 버튼의 밑줄 제거 */
    cursor: pointer; /* 닫기 버튼에 마우스를 올렸을 때 커서를 손 모양으로 변경 */
  }
  
  /* 쪽지 이미지 */
  .postImage {
      margin-top: 0;
      width: 1.5vw;
    }
    /* 쪽지 모달 css 끝  */
    
/* 나눔 이야기 알림 뱃지 */
.badge {
    color: black;
    margin-left: 0.5vw;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.2vw;
}

/* 마이페이지 */
.mypage {
    font-size: 1.8vh;
    font-weight: 500;
    letter-spacing: 0.05vw;
    display: inline-block;
    height: 6vh;
    text-align: center;
    text-decoration: underline;
    vertical-align: top;
    line-height: 6vh;
    margin-right: 2vw;
    color: gray;
}

/* 로그아웃 */
.logout {
    font-size: 1.8vh;
    font-weight: 500;
    letter-spacing: 0.05vw;
    display: inline-block;
    height: 6vh;
    text-align: center;
    text-decoration: underline;
    vertical-align: top;
    line-height: 6vh;
    color: gray;
}


/* 형광펜 효과_초록 */
.highlighterGreen {
    background: linear-gradient(#2DC986 0 100%);
    background-position: 0 calc(100% - 0.2vh);
    background-size: 0 0.9vh;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
}

/* 형광펜 효과_초록_hover */
.highlighterGreen:hover {
    color: black;
    background-size: 100% 0.9vh;
}


/* Blank_네비게이션 & 슬라이드 사이 공백 */
.blankContainer {
    height: 2vh;
    width: 93vw;
}


/* 나눔 게시글 */
    /* 나눔글 전체 영역 */
    #mainArea {
        width: 93vw;
        height: 76vh;
        margin: auto;
        margin-top: 2vh;
        overflow: hidden;
    }

    /* 왼쪽 영역 | 게시글 제목, 물품 사진 */
    .leftContainer {
        float: left;
        width: 42vw;
        height: 100%;
        flex-direction: column;     /* 세로 방향으로 정렬 */
    }

    /* 나눔글 제목 영역 */
    .titleArea {
        width: 100%;
        height: 4vh;
        margin-bottom: 3vh;
    }

    /* 나눔글 제목 */
    .postingTitle {
        font-size: 3.5vh;
        font-weight: 600;
        letter-spacing: 0.2vw;
    }


    /* 나눔글 이미지 */
    .imgArea {
        display: block;
        width: 100%;
        height: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        overflow: hidden;
    }

    /* 나눔글 이미지_img */
    .imgArea img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    /* 이미지 슬라이더 */
    .swiper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover; /* 사진이 영역 크기에 맞춰 잘리게 */
    }

    /* 내비게이션 버튼 커스터마이징 */
    .swiper-button-next, .swiper-button-prev {
        color: black;
        font-size: 4vh;
        font-weight: 500;
        width: auto;
        height: auto;
    }

    /* 내비게이션 화살표 */
    .swiper-button-next::after {
        content: '〉';
    }

    .swiper-button-prev::after {
        content: '〈';
    }


    /* 오른쪽 영역 | 작성자 정보, 본문 등 */
    .rightContainer {
        display: flex;
        float: right;
        width: 48vw;
        height: 100%;
        flex-direction: column;
    }

    /* 우측 상단 영역_작성자 정보, 작성일 */
    .rightUpside {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 4vh;
        margin-bottom: 3vh  ;
    }

    /* 작성자 프로필 사진 */
    .infoImage {
        float: left;
        width: 2.2vw;
        height: 4vh;
        margin-right: 1.5vh;
        border-radius: 50%;
        border: 0.07vw solid black;
    }

    /* 작성자 정보 영역 */
    .writerInfo {
        float: left;
        width: 48vw;
        height: 4vh;
        text-align: left;
        box-sizing: border-box;
        font-size: 2.1vh;
        font-weight: 500;
        
    }

    /* 작성자 이름 */
    .writerName {
        display: flex;
        float: left;
        line-height: 4vh;
        font-size: 3.2vh;
        font-weight: 500;
        letter-spacing: 0.15vw;
        margin: 0;
        padding: 0;
        padding-top: 0.2vh;
    }

    /* 작성일 영역 */
    .postDateArea {
        float: right;
        width: 20vw;
        height: 4vh;
        text-align: right;
        font-size: 2.1vh;
        font-weight: 500;
        padding-top: 1.4vh;
    }

    /* 작성일 */
    .uploadDate {
        height: 100%;
        font-size: 2.1vh;
        letter-spacing: 0.05vw;
    }


    /* 본문 영역 */
    .mainTextArea {
        position: relative;
        width: 100%;
        height: 32vh;
        border: 0.07vw solid black;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    /* 본문 글 */
    .mainText {
        padding: 1.5vw;
        padding-left: 1.9vw;
        font-size: 2.6vh;
        line-height: 4.5vh;
        letter-spacing: 0.1vw;
    }

    /* 지도 */
    .textMap {
        display: block;
        margin-top: 3vh;
        width: 100%;
        height: 25vh;
        margin-bottom: 3vh;
        border: 0.07vw solid black;
        box-sizing: border-box;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    /* 하단 영역 */
    .postBottom {
        display: inline-block;
        width: 100%;
        height: 6vh;
    }

    /* 북마크 영역 */
    .bookmarkArea {
        float: left;
        width: 10vh;
        height: 100%;
    }

    /* 북마크 */
    .bookMarkButton {
        color: rgb(99, 99, 99);
        cursor: pointer;
        height: 100%;
        font-size: 2.1vh;
        font-weight: 500;
        line-height: 10vh;
        box-sizing: border-box;
        background: linear-gradient(#2DC986 0 100%);
        background-position: 0 calc(100% - 0.25vh);
        background-size: 0 1.2vh;
        background-repeat: no-repeat;
        transition: background-size 0.3s;
    }

    /* 북마크 되어있을 때*/
    .bookMarkButton2 {
        color: black;
        cursor: pointer;
        height: 100%;
        font-size: 2.1vh;
        font-weight: 500;
        line-height: 10vh;
        box-sizing: border-box;
        background: linear-gradient(#2DC986 0 100%);
        background-position: 0 calc(100% - 0.25vh);
        background-size: 100% 1.2vh;
        background-repeat: no-repeat;
    }

    /* 북마크 버튼_hover */
    .bookMarkButton:hover {
        color: black;
        background-size: 100% 1.2vh;
    }

    /* 길찾기 영역 */
    .roadmarkArea {
        float: left;
        width: 10vh;
        height: 100%;
    }

    /* 길찾기 */
    .roadMarkButton {
        color: rgb(99, 99, 99);
        cursor: pointer;
        height: 100%;
        font-size: 2.1vh;
        font-weight: 500;
        line-height: 10vh;
        box-sizing: border-box;
        background: linear-gradient(#2DC986 0 100%);
        background-position: 0 calc(100% - 0.25vh);
        background-size: 0 1.2vh;
        background-repeat: no-repeat;
        transition: background-size 0.3s;
    }

    /* 길찾기 버튼_hover */
    .roadMarkButton:hover {
        color: black;
        background-size: 100% 1.2vh;
    }


    /* 신고 버튼 영역 */
    .reportButtonArea {
        float: left;
        width: 10vh;
        height: 100%;
    }

    /* 신고 버튼 */
    .reportButton {
        color: rgb(99, 99, 99);
        cursor: pointer;
        height: 100%;
        font-size: 2.1vh;
        font-weight: 500;
        line-height: 10vh;
        box-sizing: border-box;
    }


    /* 형광펜 효과_빨간색 */
    .highlighterRed {
        background: linear-gradient(red 0 100%);
        background-position: 0 calc(100% - 0.25vh);
        background-size: 0 1.2vh;
        background-repeat: no-repeat;
        transition: background-size 0.3s;
    }

    /* 형광펜 효과_빨간색_hover */
    .highlighterRed:hover {
        background-size: 100% 1.2vh;
        color: black;
    }


    /* 우측 하단 영역_받을래요 */
    .bottomRight {
        width: 25vw;
        height: 100%;
        float: right;
        text-align: right;
    }

    /* 받을래요 버튼 */
    .wantShareButton {
        font-family: 'NEXON Lv1 Gothic OTF';
        width: 10vw;
        height: 100%;
        background-color: #8ABAFF;
        border: 0.07vw solid black;
        border-radius: 5vh;
        font-size: 2.6vh;
        font-weight: 700;
        letter-spacing: 0.1vw;
        color: black;
    }

    /* 받을래요 버튼_hover */
    .wantShareButton:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    /* 삭제, 수정버튼  */
    .deleteResetButton {
        font-family: 'NEXON Lv1 Gothic OTF';
        width: 8vw;
        height: 100%;
        background-color: #8ABAFF;
        border: 0.07vw solid black;
        border-radius: 5vh;
        font-size: 2.6vh;
        font-weight: 700;
        letter-spacing: 0.1vw;
        color: black;
    }

    /* 받을래요 버튼_hover */
    .deleteResetButton:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    /* 저작권 영역 */
    .rightArea {
        margin: auto;
        margin-top: 4vh;
        width: 93vw;
        height: 3vh;
        white-space: nowrap;
        text-align: center;
        line-height: 3vh;
        font-size: 1.4vh;
        font-weight: 500;
        text-decoration: underline;
        color: gray;
    }