<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://thymeleaf.org"
    xmlns:sec="http://thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나눠요</title>

    <!-- style -->
    <link rel="stylesheet" href="/css/shareList.css">
    <!-- script -->
    <script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script type="text/javascript" src="/js/shareList.js"></script>

</head>
<body>
    <!--****************수정필요 사항 ********************************
     지도의 infoWindow 디자인 필요, 
     ****************************************************************-->

    <!-- 네비게이션 구역 -->
    <div class="navigationContainer">

        <!-- 로고 -->
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" class="logoImg">
            </a>
        </div>
  
        <!-- 우리는 -->
        <div class="projectInfo">
            <span class="highlighterBlue">
                <a href="/info/service">우리는</a>
            </span>
        </div>
  
        <!-- 나눠요 -->
        <div class="projectInfo">
            <span class="highlighterBlue">
                <a href="/share/list">나눠요</a>
            </span>
            
        </div>
  
        <!-- 버려요 -->
        <div class="projectInfo">
            <span class="highlighterBlue">
              <a href="/recycle/list">버려요</a>
            </span>
        </div>
  
        <!-- 오른쪽 정렬 -->
        <div class="rightGroup">
  
            <!-- 로그인을 안했을 시 -->
            <th:block sec:authorize="not isAuthenticated()">
                <div class="join">
                  <span class="highlighterGreen">
                    <a href="/member/join">회원가입</a>
                  </span>
                </div>
  
                <div class="login">
                  <span class="highlighterGreen">
                    <a href="/member/loginForm">로그인</a>
                  </span>
                </div>
            </th:block>
            
        
            <!-- 로그인을 했을 시 -->
            <th:block sec:authorize="isAuthenticated()">
                
                <!-- 쪽지 -->
                <div class="message" id="messages" th:data-num="${#authentication.principal.num}">
                    <!-- 쪽지 이미지  -->
                    <img src="/images/post.png" class="postImage">
                    <!-- 아래 뱃지 숫자는 알아서 변경하도록,,, -->
                    <div class="badge" id="badge">0</div>
                </div>
  
                <!-- 쪽지 목록 모달 -->
                <div
                  id="messagesModal"
                  class="modal"
                  style="
                    max-height: calc(100vh - 50px);
                    overflow-x: hidden;
                    overflow-y: auto;
                  "
                >
                  <div class="modal-content">
                    <span id="messagesClose" class="close">&times;</span>
                    <h2>나눔 이야기</h2>
                    <div id="messageListContainer"></div>
                  </div>
                </div>
  
                <!-- 쪽지 상세보기 모달 -->
                <div
                  id="detailsModal"
                  class="modal"
                  style="
                    max-height: calc(100vh - 50px);
                    overflow-x: hidden;
                    overflow-y: auto;
                  "
                >
                  <div class="modal-content">
                    <span id="detailsClose" class="close">&times;</span>
                    <h2>쪽지 상세보기</h2>
  
                    <!-- 게시글로 이동하는 영역 추가 -->
                    <div id="goToShareBoard" style="cursor: pointer">
                      <div
                        id="shareBoardLink"
                        style="
                          padding: 10px;
                          border: 1px solid #ccc;
                          text-align: center;
                        "
                      >
                        게시글로 이동
                      </div>
                    </div>
                    <div id="messageDetailsContainer"></div>
                    <textarea
                      id="messageInput"
                      placeholder="메시지를 입력하세요"
                    ></textarea>
                    <button id="sendMessageBtn">보내기</button>
                    <button id="userReportBtn">신고하기</button>
                    <button id="shareComplete" style="display: none">
                      나눔 완료
                    </button>
                  </div>
                </div>
  
                <!-- 게시글 유저 신고 모달창 -->
                <div id="reportModal" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>신고하기</h2>
                    <form id="reportForm">
                      <div>
                        <label
                          ><input
                            type="checkbox"
                            name="reportReason"
                            value="욕설, 인신공격 등 언어적 폭력"
                          />
                          욕설, 인신공격 등 언어적 폭력</label
                        >
                        <label
                          ><input
                            type="checkbox"
                            name="reportReason"
                            value="부적절한 게시글"
                          />
                          부적절한 게시글</label
                        >
                        <label
                          ><input
                            type="checkbox"
                            name="reportReason"
                            value="사기 또는 허위정보"
                          />
                          사기 또는 허위정보</label
                        >
                        <label
                          ><input type="checkbox" name="reportReason" value="기타" />
                          기타</label
                        >
                      </div>
                      <textarea
                        id="additionalReason"
                        placeholder="기타 사유를 입력하세요"
                      ></textarea
                      ><br />
                      <button type="button" id="submitUserReportBtn">
                        신고 제출
                      </button>
                    </form>
                  </div>
                </div>
                
                <!-- 마이페이지  -->
                <div class="mypage">
                  <span class="highlighterGreen">
                    <a th:href="@{/myPage/view}">마이페이지</a>
                  </span>
                </div>
                
                <!-- 로그아웃 -->
                <div class="logout">
                  <span class="highlighterGreen">
                    <a th:href="@{/member/logout}">로그아웃</a>
                  </span>
                </div>
            </th:block>
        </div>
      </div>

    <!-- 공백 -->
    <div class="blankContainer"></div>

    <!-- mainContainer -->
    <div id="mainContainer">

        <!-- 검색창 영역 -->
        <div class="searchArea">
            
            <!-- 왼쪽 공백 -->
            <div class="serchBlankL"></div>
            
            <!-- 검색창 영역_검색 input + button -->
            <div id="searchContainer">
                <!-- 검색창 -->
                <input type="text" class="search" name="search" id="search" value="" placeholder="검색어를 입력해주세요!">
                <button id="searchButton">검색</button>
                <!-- 검색어 초기화 버튼 -->
                <span id="resetButton" class="resetButton">초기화</span>
            </div>

            <!-- 왼쪽 공백 -->
            <div class="serchBlankR"></div>

            <!-- 나눔하기 버튼_로그인을 했을 시에만 보이도록 -->
            <div class="wantShareArea">
                <a href="/share/save">
                    <input type="button" name="wantShare" id="wantShare" class="wantShare" value="나눔하기">
                </a>
            </div>
        </div>

        <!-- 지도 영역 -->
        <div class="mapArea" id="map">
        </div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=488efa68a7500b0e2b513a8253d1f0c9&libraries=clusterer"></script>
        <!-- 지도 script -->
        <script>
            let mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = { 
                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                    level: 4 // 지도의 확대 레벨
                };

            // 지도를 생성합니다
            let map = new kakao.maps.Map(mapContainer, mapOption); 

            // 마커 클러스터러를 생성 (지도에 표시할 마커 배열을 비워둠)
            let clusterer = new kakao.maps.MarkerClusterer({
                map: map, // 마커들을 클러스터로 관리할 지도 객체
                averageCenter: true, // 클러스터의 중심을 마커들의 평균 좌표로 설정
                minLevel: 4, // 최소 레벨로 클러스터링을 적용
                disableClickZoom: false // 클러스터 클릭 시 확대하는 기본 동작을 비활성화
            });

            //내위치 가져오기
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    let lat = position.coords.latitude; // 위도
                    let lon = position.coords.longitude; // 경도
                    let locPosition = new kakao.maps.LatLng(lat, lon);
                    console.log(lat, lon, locPosition);
                    // 지도 중심을 내 위치로 이동
                    map.setCenter(locPosition);
                });
            } else {
                alert("Geolocation을 지원하지 않는 브라우저입니다.");
            }

            //마커를 저장할 배열 
            let markers = [];
            let openInfoWindow = null;  // 열린 인포윈도우 추적

            // ************* 지도에 이벤트 등록 ****************************************************************
            // 초기 로드 시 마커를 불러오기 위해 'idle' 이벤트를 사용
            kakao.maps.event.addListener(map, 'idle', function () {
                triggerAjax();  // idle 이벤트가 발생하면 마커를 불러옵니다.
                kakao.maps.event.removeListener(map, 'idle');  // 한 번 실행 후 제거하여 중복 실행 방지
            });

            // 드래그가 끝난 후 발생하는 'dragend' 이벤트를 사용하여 Ajax 요청을 실행
            kakao.maps.event.addListener(map, 'dragend', function() {
                triggerAjax();
            });

            // 확대/축소가 끝난 후 발생하는 'zoom_changed' 이벤트를 사용하여 Ajax 요청을 실행
            kakao.maps.event.addListener(map, 'zoom_changed', function() {
                triggerAjax();
            });

            // 검색 버튼을 클릭스 ajax를 실행시킨다. 
            $('#searchButton').click(triggerAjax); // trigger

            // 초기화 버튼을 클릭시 search를 공백으로 하여 Ajax를 실행시킨다. 
            $('#resetButton').click(function() {
                // 검색 value 를 공백으로 초기화
                $('#search').val('');
                // Ajax 함수 실행 
                triggerAjax();
            });

            // 엔터 입력시 클릭이벤트를 실행해 게시글을 검색하게 한다. 
            $('#search').keydown(function(event) {
                if (event.key === 'Enter') {
                    $('#searchButton').click(); // Enter 키가 눌리면 검색 버튼 클릭이벤트가 실행된다. 
                }
            });
            //**********************지도에 이벤트를 등록 ***************************************************
            

            // **************지도 영역내의 게시글을 불러오는 ajax*******************************************
            function triggerAjax() {
                //검색에 사용할 값을 불러옴 
                let search = $('#search').val();
                //지도의 영역을 불러온다. 
                let bounds = map.getBounds();
                let swLat = bounds.getSouthWest().getLat(); // 남서쪽 위도
                let swLng = bounds.getSouthWest().getLng(); // 남서쪽 경도
                let neLat = bounds.getNorthEast().getLat(); // 북동쪽 위도
                let neLng = bounds.getNorthEast().getLng(); // 북동쪽 경도

                // data에 위도, 경도, 검색정보를 담기
                let data = {swLat: swLat, swLng: swLng, neLat: neLat, neLng: neLng
                            ,serach : search}

                //지도 영역이 변할때마다 ajax를 실행시킨다.
                $.ajax({
                    url: '/share/mapList',
                    type: 'post',
                    data: data, //남서 북서 끝단의 위도 경도 정보를 보낸다. 
                    //성공시 반복문을 사용하여 마커들을 지도상에 찍어준다. 
                    success: function(mapList) {
                        // 기존 마커를 제거하고 클러스터러에서 삭제
                        clusterer.clear(); // ajax가 실행될때마다 클러스터를 비우지 않으면 클러스터에 마커가 계속 쌓인다
                        
                        // 마커 배열을 초기화
                        markers = []; // ajax가 실행할때마다 배열을 초기화하고 다시 마커들을 찍어 배열에 저장한다.

                        //영역 변경전에 만들어져있는 게시글을 초기화
                        $('#result').empty();

                        // 지도에 마커를 찍어 게시글 위치를 표시
                        mapList.forEach(function(share) {
                            let markerPosition = new kakao.maps.LatLng(share.shareLat, share.shareLng);

                            // 마커 중복확인 함수 isMarkerExists가 false일때 실행 (마커가 이미 있으면 true를 반환한다.)
                            if (!isMarkerExists(markerPosition)) {
                                let marker = new kakao.maps.Marker({
                                    position: markerPosition
                                });
                                marker.setMap(map);    // marker를 지도에 표시합니다.
                                markers.push(marker);  // marker를 markers 배열에 넣는다.

                                // 각 마커에 대한 인포윈도우와 이벤트 등록
                                createMarkerWithInfo(marker, share);
                            }
                            //게시글의 내용을 하나씩 담아서 result div에 에 넣어준다. 
                            $('#result').append(`
                                    <div class="sharePosting">
                                        <a href="/share/read?shareNum=${share.shareNum}">
                                            <span class="sharePostTitle">${share.shareTitle}</span>
                                        </a>
                                        <div class="shareImage">
                                            <img src="/share/download?imageNum=${share.imageList[0].imageNum}">
                                        </div>
                                        <div class="postContentArea">
                                            <span class="postContent">${share.shareContents}</span>
                                        </div>
                                        <div class="postInfo">
                                            <span class="userName">${share.memberNickname}</span>
                                            <span class="postDate">${share.formatDate}</span>
                                        </div>
                                    </div>
                            `);

                              // 글 제목 의 길이가 25자가 넘으면 생략하여 보여준다. 
                              // 모든 postContent 요소들을 가져옴
                              let sharePostTitle = document.querySelectorAll(".sharePostTitle");

                              // 각 postContent 요소들에 글자 수 제한 적용
                              sharePostTitle.forEach(function(post) {
                                  // 게시글 내용 텍스트 가져오기
                                  let text = post.innerText;
                                  // 글자 수 제한_공백 포함
                                  let maxLength = 25;

                                  // 글자 수가 40자를 넘으면 자르고 ... 붙이기
                                  if (text.length > maxLength) {
                                      post.innerText = text.slice(0, maxLength) + "···";
                                  };
                              });
                              
                              // 글내용의 길이가 25자가 넘으면 생략하여 보여준다. 
                              // 모든 postContent 요소들을 가져옴
                              let postContents = document.querySelectorAll(".postContent");

                              // 각 postContent 요소들에 글자 수 제한 적용
                              postContents.forEach(function(post) {
                                  // 게시글 내용 텍스트 가져오기
                                  let text = post.innerText;
                                  // 글자 수 제한_공백 포함
                                  let maxLength = 25;

                                  // 글자 수가 20자를 넘으면 자르고 ... 붙이기
                                  if (text.length > maxLength) {
                                      post.innerText = text.slice(0, maxLength) + "···";
                                  };
                              });
                            
                        });
                        
                        // 클러스터러에 새로 추가된 마커들 등록
                        clusterer.addMarkers(markers);
                        removeMarkersOutOfBounds(); // 경계 밖 마커 제거
                    }              
                });
            };
            //***************************지도 영역내의 게시글을 불러오는 ajax**************************************


            // ****************마커에 인포윈도우를 매치, 마커에 이벤트 등록 *****************
            function createMarkerWithInfo(marker, share) {
                // 마커에 표시되는 인포윈도우 
                let iwContent = `
                    <div class="mapInfo">

                      <!-- 마커 내 글 제목 -->
                      <div class="markerPostName">
                        ${share.shareTitle}
                      </div>
                      
                      <!-- 마커 내 작성자 이름 -->
                      <div class="markerUserName">
                          ${share.memberNickname}
                      </div>

                      <!-- 마커 내 이미지 영역 -->
                      <div class="markerImage">
                        <img style="width:12vw;" src="/share/download?imageNum=${share.imageList[0].imageNum}">
                      </div>
                    </div>
                `;

                // 인포윈도우를 생성합니다
                let infoWindow = new kakao.maps.InfoWindow({
                    content: iwContent,
                    disableAutoPan: true // 자동 이동 비활성화
                });

                // 마커에 마우스오버 이벤트를 등록합니다
                kakao.maps.event.addListener(marker, 'mouseover', function () {
                    // 다른 인포윈도우가 열려 있으면 먼저 닫습니다
                    if (openInfoWindow) {
                        openInfoWindow.close();
                    }
                    // 인포윈도우를 마커 위에 표시
                    infoWindow.open(map, marker);
                    openInfoWindow = infoWindow;  // 열린 인포윈도우를 저장
                });

                // 마커에 마우스아웃 이벤트를 등록합니다
                kakao.maps.event.addListener(marker, 'mouseout', function () {
                    // 마우스아웃 이벤트가 발생하면 인포윈도우를 닫습니다
                    infoWindow.close();
                    openInfoWindow = null;  // 열린 인포윈도우를 없앰
                });

                // 마커 클릭 이벤트 추가
                kakao.maps.event.addListener(marker, 'click', function () {
                    window.location.href = '/share/read?shareNum=' + share.shareNum;
                });
            }
            //*************************마커에 인포윈도우를 매치, 마커에 이벤트 등록 ********************************


            //***********************기타함수***********************************
            // 좌표를 기반으로 중복 마커 확인하는 함수
            function isMarkerExists(position) {
                return markers.some(function(marker) {
                    let markerPosition = marker.getPosition();
                    return markerPosition.getLat() === position.getLat() && markerPosition.getLng() === position.getLng();
                });
            }
            
            // 지도 경계 밖 마커를 삭제하는 함수
            function removeMarkersOutOfBounds() {
                let bounds = map.getBounds(); // 지도의 현재 경계 가져오기
                
                //filter함수를 사용하여 마커배열을 순회해 경게 안에 있으면 유지, 없으면 삭제 
                markers = markers.filter(function(marker) {
                    let position = marker.getPosition();
                    // 마커가 경계 안에 있으면 유지, 경계 밖이면 지도에서 제거
                    if (bounds.contain(position)) {
                        return true;  // 경계 안에 있는 마커는 유지
                    } else {
                        marker.setMap(null);  // 경계 밖의 마커는 지도에서 제거
                        return false;  // markers 배열에서 삭제
                    }
                });

                // 클러스터러에 경계 안의 마커들만 다시 추가
                clusterer.clear(); // 기존 클러스터 삭제
                clusterer.addMarkers(markers); // 클러스터에 남은 마커 다시 추가
            }

            // 지도가 이동되거나 줌이 변경될 때 경계 밖 마커 제거
            kakao.maps.event.addListener(map, 'dragend', removeMarkersOutOfBounds);
            kakao.maps.event.addListener(map, 'zoom_changed', removeMarkersOutOfBounds);
            //*********************기타함수*****************************************************
        </script>

        <!-- 나눠요 영역 -->
        <div class="shareArea">
            <!-- 나눠요 타이틀 -->
            <div class="shareTitle">
                나눠요!
            </div>
            <!-- 나눠요 게시글 목록 -->
            <div class="sharePostingList">

                <!-- 나눠요 게시글 목록 -->
                <div class="sharePostingList" id="result">

                </div>

            </div>
        </div>
    
        <!-- 저작권 정보 -->
        <div class="rightContainer">
            © 2024 Team San, Hai. All rights reserved.
        </div>

    </div>
    <!-- mainContainer -->
</body>
</html>