<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://thymeleaf.org"
    xmlns:sec="http://thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나눠요</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script>

    </script>
</head>
<body>
    <!-- 지도를 보여줄 div -->
    <div id="map" style="width:100%;height:350px;"></div>
    <!-- js로 지도 불러오기 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=488efa68a7500b0e2b513a8253d1f0c9"></script>
    <!-- 지도 script -->
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = { 
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 4 // 지도의 확대 레벨
            };
        // 지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption); 
        //내위치 가져오기
        if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var lat = position.coords.latitude; // 위도
                    var lon = position.coords.longitude; // 경도
                    var locPosition = new kakao.maps.LatLng(lat, lon);
                    console.log(lat, lon, locPosition);
                    // 지도 중심을 내 위치로 이동
                    map.setCenter(locPosition);
                });
        } else {
            alert("Geolocation을 지원하지 않는 브라우저입니다.");
        }

        // 지도가 이동, 확대, 축소로 인해 지도영역이 변경되면 마지막 파라미터로 넘어온 함수를 호출하도록 이벤트를 등록합니다
        kakao.maps.event.addListener(map, 'bounds_changed', function() {             
            // 지도 영역정보를 얻어옵니다 
            var bounds = map.getBounds();
            var swLat = bounds.getSouthWest().getLat(); // 남서쪽 위도
            var swLng = bounds.getSouthWest().getLng(); // 남서쪽 경도
            var neLat = bounds.getNorthEast().getLat(); // 북동쪽 위도
            var neLng = bounds.getNorthEast().getLng(); // 북동쪽 경도
            // data에 위도 경도 정보를 담기
            var data = {swLat: swLat, swLng: swLng, neLat: neLat, neLng: neLng};
            // 저장된 위도 경도 정보를 console.log로 확인
            console.log(data);
            //ajax를 이용해 데이터 가져오기
            $.ajax({
                url: '/share/mapList',
                type: 'get',
                data: data, //남서 북서 끝단의 위도 경도 정보를 보낸다. 
                success: function() {
                    console.log("ajax 성공");
                }              
            })

        });
    </script>
    <p><a href="/share/save">글작성</a></p>
    <!-- 게시판 목록 출력 -->
    <table>
        <tr>
            <th>번호 test</th>
            <th style="width:300px;">제목</th>
            <th>닉네임</th>
            <th>사진</th>
            <th>작성일</th>
        </tr>
        <!-- 타임리프 반복문 사용 -->
        <tr th:each="share, status : ${shareList}">
            <td th:text="${share.shareNum}"></td>
            <td>
                <!-- a태그 게시글 read로 이동  -->
                <a th:text="${share.shareTitle}" th:href="|read?shareNum=${share.shareNum}|"></a>
            </td>
            <td th:text="${share.memberNickname}"></td>
            <!-- 이미지 경로를 "|download?shareNum=${share.shareNum}|" 로 만들어 download하여 이미지를 보여준다. -->
            <td><img style="width:100px; height:100px;" th:src="|download?shareNum=${share.shareNum}|"></td>
            <td th:text="${#temporals.format(share.shareDate, 'yy.MM.dd HH:mm')}"></td>
        </tr>
    </table>
</body>
</html>