<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>에코나비</title>
    <!-- style -->
    <!-- 슬라이드 css -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/share/shareRead.css">
    <!-- script -->
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script type="text/javascript" src="/js/share/shareRead.js"></script> 
    <!-- 슬라이드 script 라이브러리 -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  </head>
  <body>
    <!-- 네비게이션 구역 -->
    <div class="navigationContainer">

      <!-- 로고 -->
      <div class="logo">
          <a href="/">
              <img src="/images/logo.png" class="logoImg">
          </a>
      </div>

      <!-- 우리는 -->
      <div class="projectInfo">
          <span class="highlighterBlue">
              <a href="/info/service">우리는</a>
          </span>
      </div>

      <!-- 나눠요 -->
      <div class="projectInfo">
          <span class="highlighterBlue">
              <a href="/share/list">나눠요</a>
          </span>
          
      </div>

      <!-- 버려요 -->
      <div class="projectInfo">
          <span class="highlighterBlue">
            <a href="/recycle/list">버려요</a>
          </span>
      </div>

      <!-- 오른쪽 정렬 -->
      <div class="rightGroup">

          <!-- 로그인을 안했을 시 -->
          <th:block sec:authorize="not isAuthenticated()">
              <div class="join">
                <span class="highlighterGreen">
                  <a href="/member/join">회원가입</a>
                </span>
              </div>

              <div class="login">
                <span class="highlighterGreen">
                  <a href="/member/loginForm">로그인</a>
                </span>
              </div>
          </th:block>
          
          
          <!-- 로그인을 했을 시 -->
          <th:block sec:authorize="isAuthenticated()">
            
            <!-- ************************************ 쪽지 목록 모달 ************************************* -->
              <!-- 쪽지 -->
              <div class="message" id="messages" th:data-num="${#authentication.principal.num}">
                  <!-- 쪽지 이미지  -->
                  <img src="/images/post.png" class="postImage">
                  <!-- 아래 뱃지 숫자는 알아서 변경하도록,,, -->
                  <div class="badge" id="badge">0</div>
              </div>

              <div
                id="messagesModal"
                class="modal"
                style="
                  max-height: calc(100vh - 50px);
                  overflow-x: hidden;
                  overflow-y: auto;
                  "
              >
                <div class="modal-content">
                  <!-- 나눔 이야기 상단 영역 -->
                  <div class="messageUpside">
                    <h2>나눔 이야기</h2>
                    <!-- 닫기 버튼 -->
                    <span class="close">╳</span> 
                  </div>
                  <!-- 쪽지방 목록이 출력되는 곳 -->
                  <div id="messageListContainer"></div>
                </div>
              </div>
              
              <!-- 쪽지 상세보기 모달 -->
              <div
                id="detailsModal"
                class="modal"
                style="
                  max-height: calc(100vh - 50px);
                  overflow-x: hidden;
                  overflow-y: auto;
                  "
              >
                <div class="modal-content">
                  <div class="messageUpside">
                    <div class="usernameContainer">
                      <img id="receiverProfileImage" src="" alt="Profile" style="width: 30px; height: 30px; border-radius: 50%; vertical-align: middle;"/> 
                      <span class="usernameTitle"><b id="receiverNickname"></b>님에게</span>
                      <!-- 신고하기 버튼 (공백 유지) -->
                      <span id="userReportBtn" class="userReportButton highlighterRed">신고하기</span>                      
                    </div>
                    <!-- 닫기 버튼 -->
                    <span class="close">╳</span> 
                  </div>
                  
                  <!-- 게시글로 이동하는 영역 추가 -->
                  <div id="goToShareBoard" style="cursor: pointer">
                    <div
                    id="shareBoardLink"
                    style="
                        padding: 10px;
                        border: 1px solid #ccc;
                        text-align: center;
                        "
                    >
                    게시글로 이동
                    </div>
                  </div>

                <div id="messageDetailsContainer"></div>

                <!-- 쪽지 보내기 -->
                <div id="detailContentsContainer">
                  <textarea
                  id="messageInput"
                  class="messageContents" 
                  placeholder="내용을 입력해주세요!"
                  maxlength="100"
                    ></textarea>
                    <!-- 보내기 버튼 -->
                    <button id="sendMessageBtn">보내기</button>
                    <button id="shareComplete" style="display: none">
                      나눔 완료
                    </button>
                </div>
                </div>
              </div>

              <!-- 게시글 유저 신고 모달창 -->
              <div id="reportModal" class="modal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>신고하기</h2>
                  <form id="reportForm">
                    <div>
                      <label
                      ><input
                      type="radio"
                      name="reportReason"
                      value="욕설, 인신공격 등 언어적 폭력"
                      />
                      욕설, 인신공격 등 언어적 폭력</label
                      >
                      <label
                      ><input
                      type="radio"
                          name="reportReason"
                          value="부적절한 게시글"
                          />
                          부적절한 게시글</label
                          >
                          <label
                          ><input
                          type="radio"
                          name="reportReason"
                          value="사기 또는 허위정보"
                          />
                          사기 또는 허위정보</label
                          >
                          <label
                          ><input type="radio" name="reportReason" value="기타" />
                          기타</label
                          >
                        </div>
                        <textarea
                      id="additionalReason"
                      placeholder="기타 사유를 입력하세요"
                    ></textarea
                    ><br />
                    <button type="button" id="submitUserReportBtn">
                      신고 제출
                    </button>
                  </form>
                </div>
              </div>
<!-- ************************************ 쪽지 목록 모달 *************************************-->
              
              <!-- 마이페이지  -->
              <div class="mypage">
                <span class="highlighterGreen">
                  <a th:href="@{/myPage/view}">마이페이지</a>
                </span>
              </div>
              
              <!-- 로그아웃 -->
              <div class="logout">
                <span class="highlighterGreen">
                  <a th:href="@{/member/logout}">로그아웃</a>
                </span>
              </div>
          </th:block>
      </div>
    </div>

  <!-- 공백 -->
  <div class="blankContainer"></div>

  <!-- 나눔글 전체 영역 -->
  <div id="mainArea">
    <!-- 왼쪽 영역 -->
    <div class="leftContainer">
      <!-- 나눔글 제목 영역 -->
      <div class="titleArea">
          <!-- 나눔글 제목 -->
          <div class="postingTitle">
             <span th:text="${shareBoard.shareTitle}"></span>
          </div>
      </div>

      <!-- 나눔글 사진 영역 -->
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <!-- 슬라이딩 되는 이미지 영역 -->
            <div class="swiper-slide" th:each="image : ${shareBoard.imageList}"><img th:src="|download?imageNum=${image.imageNum}|"></div>
        </div>
        <!-- 내비게이션 버튼 -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>   

    </div>

    <!-- 오른쪽 영역 -->
    <div class="rightContainer">
      <!-- 상단 영역 -->
      <div class="rightUpside">
          <!-- 작성자 정보 영역 --> 
          <div class="writerInfo">  
            <!-- ****************************작성자 프로필 사진 *******************-->
            <img class="infoImage" src="./img/user.png" alt="User Photo">
            <!-- 작성자 이름 -->
            <div class="writerName">
              <span th:text="${shareBoard.memberNickname}"></span>
            </div>
          </div>

          <!-- 작성일 영역 -->
          <div class="postDateArea">
            <!-- 작성일 타임리프 이용해 날짜 데이터 포멧 -->
            <span class="uploadDate" th:text="${#temporals.format(shareBoard.shareDate, 'yy년 MM월 dd일')}"></span>
          </div>
      </div>

      <!-- 본문 영역 -->
      <div class="mainTextArea">
          <!-- 나눔글 본문 -->
          <div class="mainText">
              <span th:text="${shareBoard.shareContents}"></span>
          </div>
      </div>

      <!-- 거래 위치 지도 -->
      <div class="textMap" id="map">
      </div>

      <!-- 하단 영역 -->
      <div class="postBottom">
          <!-- 북마크 영역 -->
          <div class="bookmarkArea">
              <!-- 북마크 버튼 | 클릭 시 색상 변환 -->
              <!-- 북마크 하지않았을때  -->
              <span class="bookMarkButton" id="bookmark1" th:data-num="${shareBoard.shareNum}">북마크</span>
              <!-- 북마크 하였을때  -->
              <span class="bookMarkButton2" id="bookmark2" th:data-num="${shareBoard.shareNum}" style="display: none;">북마크</span>
          </div>
          <!-- 길찾기 이미지 -->
          <div class="roadmarkArea" id="findButton" alt="길찾기 이미지">
              <!-- 길찾기 버튼 | 클릭 시는 연규짱이 알아서 해줘요 -->
              <span class="roadMarkButton">길찾기</span>
          </div>
          <!-- 신고 이미지 -->
          <div class="reportButtonArea" id="reportButton" alt="신고 이미지" th:data-num="${shareBoard.shareNum}">
            <span class="reportButton highlighterRed">신고</span>
          </div>
          <!-- 하단 우측 영역 -->
          <div class="bottomRight">
              <!-- 받을래요 버튼 -->
              <!-- 로그인한 아이디와 게시글 작성자의 memberId가 다르면 작성자와 쪽지를 주고받을 수 있는 창을 띄운다. -->
              <th:block th:if="${#authentication.name != shareBoard.memberId}">
                <button class="wantShareButton" id="receiveButton"
                th:data-user-num="${userNum}"
                th:data-num="${shareBoard.memberNum}"
                th:data-share-num="${shareBoard.shareNum}">
                받을래요
                </button>
              </th:block>
              <th:block th:if="${#authentication.name == shareBoard.memberId}">
                <button class="deleteResetButton" id="deleteButton" th:data-num="${shareBoard.shareNum}">
                  삭제
                </button>        
                <button class="deleteResetButton" id="editButton" th:data-num="${shareBoard.shareNum}">
                  수정
                </button>
              </th:block>
          </div>
      </div>
    </div>
  </div>

    <!-- 위도 경도 정보 출발 도착 지를 찍어서 카카오맵으로 보여준다. -->
    <input id="shareLat" type="hidden" th:value="${shareBoard.shareLat}" />
    <input id="shareLng" type="hidden" th:value="${shareBoard.shareLng}" />
    
    <!-- 게시글 거래위치 지도 스크립트  -->
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=488efa68a7500b0e2b513a8253d1f0c9"
    ></script>
    <script>
      // 게시글 거래위치
      let shareLat = $("#shareLat").val();
      let shareLng = $("#shareLng").val();
      // 지도를 표시할 div
      var mapContainer = document.getElementById("map"),
        mapOption = {
          center: new kakao.maps.LatLng(shareLat, shareLng), // 지도의 중심좌표
          level: 3, // 지도의 확대 레벨
        };
      var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
      // 마커가 표시될 위치입니다
      var markerPosition = new kakao.maps.LatLng(shareLat, shareLng);
      // 마커를 생성합니다
      var marker = new kakao.maps.Marker({
        position: markerPosition,
      });
      // 마커가 지도 위에 표시되도록 설정합니다
      marker.setMap(map);
    </script>

<!-- ******************* 받을래요 쪽지 모달창 *********************************** -->
<!-- 쪽지 보내기 모달창 -->
<div id="messageModal" class="modal">
  <div class="modal-content">
      <!-- 쪽지 상단 영역 -->
      <div class="messageUpside">
        <!-- 사용자 이름과 신고하기 버튼을 포함하는 컨테이너 -->
        <div class="usernameContainer">
          <img id="sReceiverProfileImage" src="" alt="Profile" style="width: 30px; height: 30px; border-radius: 50%; vertical-align: middle;"/>
          <span class="usernameTitle"><b id="sReceiverNickname">닉네임</b> 님에게</span>
          <!-- 신고하기 버튼 (공백 유지) -->
          <span id="userReportButton" class="userReportButton highlighterRed">신고하기</span>
        </div>
        <!-- 닫기 버튼 -->
        <span class="close">╳</span> 
      </div>

      <!-- 쪽지 내역이 출력되는 곳 -->
      <div id="existingMessages"></div>

      <!-- 쪽지 보내기 -->
      <div id="messageContentsContainer">
        <!-- 검색창 -->
        <textarea type="text" class="messageContents" name="messageContents" id="messageContents" placeholder="내용을 입력해주세요!" maxlength="100"></textarea>
        <!-- 보내기 버튼 -->
        <button id="sendMessageButton">보내기</button>
      </div>
  </div>
</div>
      
<!-- 게시글 유저 신고 모달창 -->
<div id="shareReportModal" class="modal">
  <div class="modal-content">
    <!-- 신고 모달 상단 영역 -->
    <div class="reportUpside">
      <!-- 신고 타이틀과 신고하고자 하는 유저 닉네임을 포함하는 영역 -->
      <div class="reportContainer">
        <!-- 타이틀 -->
        <span class="reportTitle">신고하기</span>
        <!-- 신고하기 버튼 (공백 유지) -->
        <span id="reportUser" class="reportUser">닉네임 님</span>
      </div>
      <!-- 닫기 버튼 -->
      <span class="close">╳</span>
    </div>          

    <!-- 신고 폼 영역 -->
    <form id="shareReportForm" class="reportArea">
      <div>
        <label class="reportReason">
          <input
            type="radio"
            name="reportReason"
            value="욕설, 인신공격 등 언어적 폭력"
          />
            욕설, 인신공격 등 언어적 폭력
        </label>

        <br>

        <label class="reportReason">
          <input
            type="radio"
            name="reportReason"
            value="부적절한 게시글"
          />
            부적절한 게시글
        </label>

        <br>

        <label class="reportReason">
          <input
            type="radio"
            name="reportReason"
            value="사기 또는 허위정보"
          />
            사기 또는 허위정보
        </label>

        <br>

        <label class="reportReason">
          <input type="radio" name="reportReason" value="기타" />
            기타
        </label>
      </div>
      <textarea
        id="shareAdditionalReason"
        class="additionalReason" 
        placeholder="기타 사유를 입력하세요."
        maxlength="400"
      ></textarea>

      <button type="button" id="submitUserReportButton" class="reportSubmit">신고 제출</button>
    </form>
  </div>
</div>
<!-- ******************* 받을래요 쪽지 모달창 *********************************** -->
    
    <!-- 저작권 정보 -->
    <div class="rightArea">
      © 2024 Team San, Hai. All rights reserved.
    </div>
    
  </body>
  </html>
  