/* join_style_css */

    /* Font | Pretendard */
    @font-face {
        font-family: 'NEXON Lv1 Gothic OTF';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }


    /* General Reset */
    * {
        box-sizing: border-box;
    }


    /* Body에 font 적용 */
    body {
        font-family: 'NEXON Lv1 Gothic OTF';
        box-sizing: border-box;
        background-image: url('/images/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

    /* 스크롤바 없애기 */
    ::-webkit-scrollbar {
        display: none;
    }


    /* a태그 속성 없애기 */
    a {
        color: inherit;
        text-decoration: inherit;
    }


    /* 이미지 */
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


/* 네비게이션 */
    /* 네비게이션이 영역 div */
    .navigationContainer {
        margin: auto;
        margin-top: 5vh;
        width: 93vw;
        height: 6vh;
        white-space: nowrap;
    }


    /* 로고 감싸는 div */
    .logo {
        display: inline-block;
        height: 6vh;
        margin-right: 1vw;
    }

    /* 로고 이미지 */
    .logoImg {
        height: 5vh;
        margin-bottom: 0.5vh;
    }


    /* 메뉴 감싸는 div_우리는 / 나눠요 / 버려요 */
    .projectInfo {
        margin-left: 1vw;
        font-size: 2.5vh;
        font-weight: 700;
        letter-spacing: 0.2vw;
        display: inline-block;
        width: 7vw;
        height: 6vh;
        text-align: center;
        vertical-align: top;
        line-height: 6vh;
    }

    /* 네비게이션 메뉴_hover */
    .projectInfo:hover {
        cursor: pointer;
    }


    /* 형광펜 효과_파란색 */
    .highlighterBlue {
        background: linear-gradient(#8ABAFF 0 100%);
        background-position: 0 calc(100% - 0.3vh);
        background-size: 0 1.5vh;
        background-repeat: no-repeat;
        transition: background-size 0.3s;
    }

    /* 형광펜 효과_파란색_hover */
    .highlighterBlue:hover {
        background-size: 100% 1.5vh;
    }


    /* 회원가입, 로그인 div 영역 */
    .rightGroup {
        float: right;
    }

/* 로그인 안했을 시 */
    /* 회원가입 */
    .join {
        font-size: 1.8vh;
        font-weight: 500;
        letter-spacing: 0.05vw;
        display: inline-block;
        height: 6vh;
        text-align: center;
        text-decoration: underline;
        vertical-align: top;
        line-height: 6vh;
        margin-right: 2vw;
        color: gray;
    }


    /* 로그인 */
    .login {
        font-size: 1.8vh;
        font-weight: 500;
        letter-spacing: 0.05vw;
        display: inline-block;
        height: 6vh;
        text-align: center;
        text-decoration: underline;
        vertical-align: top;
        line-height: 6vh;
        color: gray;
    }

    /* 형광펜 효과_초록 */
    .highlighterGreen {
        background: linear-gradient(#2DC986 0 100%);
        background-position: 0 calc(100% - 0.2vh);
        background-size: 0 0.9vh;
        background-repeat: no-repeat;
        transition: background-size 0.3s;
    }

    /* 형광펜 효과_초록_hover */
    .highlighterGreen:hover {
        color: black;
        background-size: 100% 0.9vh;
    }    


    /* Blank_네비게이션 & 슬라이드 사이 공백 */
    .blankContainer {
        height: 2vh;
        width: 93vw;
    }


/* 회원가입 전체 영역 */
    /* 메인 컨테이너 */
    #mainContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 93vw;
        height: 78vh;
        margin: 0 auto;
    }

    /* 회원가입 전체 영역 */
    .idFindArea {
        width: 35vw;
        padding: 4vh 5vh;
        border: 0.07vw solid black;
        background-color: white;
    }


    /* 회원가입 타이틀 영역 */
    .idFindTitleArea {
        width: 100%;
        text-align: center;
        margin-bottom: 4vh;
    }

    /* 회원가입 타이틀 */
    .idFindTitle {
        font-weight: 700;
        font-size: 2.6vh;
    }

    /* 이메일 영역 */
    .emailArea {
        width: 100%;
        height: 9vh;
        margin-bottom: 5vh;
    }

    /* 이메일 상단 영역 */
    .emailUpsideArea {
        width: 100%;
        height: 2.15vh;
        padding: 0;
    }

    /* 이메일 타이틀 */
    .emailTitle {
        float: left;
        font-size: 1.8vh;
        font-weight: 600;
        margin-left: 0.2vh;
        color: gray;
    }

    /* 이메일 인증 */
    .emailButton {
        float: right;
        font-size: 1.8vh;
        font-weight: 500;
        margin-right: 0.2vh;
        color: gray;
        text-decoration: underline;
    }
    
    /* 이메일 인증_hover */
    .emailButton:hover {
        cursor: pointer;
    }

    /* 이메일 input 영역 */
    .emailInputArea {
        width: 100%;
    }

    /* 이메일 input */
    .memberEmail {
        font-family: 'NEXON Lv1 Gothic OTF';
        margin-top: 1vh;
        padding-bottom: 0.5vh;
        border: none;
        border-bottom: 0.07vw solid black;
        outline: none;
        font-size: 2vh;
        background-color: transparent;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        color: black;
    }

    /* 이메일 에러 메시지 */
    .emailError {
        display: none;
        width: 100%;
        font-size: 1.6vh;
        margin-top: 1.2vh;
        text-align: center;
        color: red;
    }


    /* 이메일 인증 영역 */
    .emailCodeArea {
        width: 100%;
        height: 9vh;
        margin-bottom: 5vh;
    }

    /* 이메일 인증 상단 영역 */
    .emailCodeUpsideArea {
        width: 100%;
        height: 2.15vh;
        padding: 0;
    }

    /* 이메일 인증 타이틀 */
    .emailCodeTitle {
        float: left;
        font-size: 1.8vh;
        font-weight: 600;
        margin-left: 0.2vh;
        color: gray;
    }

    /* 인증번호 인증 */
    .codeButton {
        float: right;
        font-size: 1.8vh;
        font-weight: 500;
        margin-right: 0.2vh;
        color: gray;
        text-decoration: underline;
    }
    
    /* 인증번호 인증_hover */
    .codeButton:hover {
        cursor: pointer;
    }

    /* 이메일 인증 input 영역 */
    .emailCodeInput {
        width: 100%;
    }

    /* 이메일 인증 input */
    .emailCode {
        font-family: 'NEXON Lv1 Gothic OTF';
        margin-top: 1vh;
        padding-bottom: 0.5vh;
        border: none;
        border-bottom: 0.07vw solid black;
        outline: none;
        font-size: 2vh;
        background-color: transparent;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        color: black;
    }

    /* 이메일 인증 에러 메시지 */
    .emailCodeError {
        display: none;
        width: 100%;
        font-size: 1.6vh;
        margin-top: 1.2vh;
        text-align: center;
        color: red;
    }

    /* 버튼 영역 */
    .buttonArea {
        text-align: center;
        margin-top: 5vh;
        width: 100%;
        height: 5vh;
    }

    /* 회원가입 버튼 */
    .joinButton {
        width: 9vw;
        height: 100%;
        border: none;
        border-radius: 5vh;
        font-size: 2.2vh;
        font-weight: 700;
        border: 0.07vw solid black;
        background: linear-gradient(#8ABAFF 0 100%);
        box-sizing: border-box;
        color: black;
        font-family: 'NEXON Lv1 Gothic OTF';
    }

    /* 가입 버튼_hover */
    .joinButton:hover {
        text-decoration: underline;
        cursor: pointer;
    }

        /* 저작권 영역 */
        .rightContainer {
            margin: auto;
            margin-top: 4vh;
            width: 93vw;
            height: 3vh;
            white-space: nowrap;
            text-align: center;
            line-height: 3vh;
            font-size: 1.4vh;
            font-weight: 500;
            text-decoration: underline;
            color: gray;
        }

    
