<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
      <link rel="icon" href="/images/temporaryIcon.png" type="image/png">
    <!-- Style -->
    <link rel="stylesheet" href="/css/home/home.css">
    <!-- script -->
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script type="text/javascript" src="/js/home/home.js"></script>
  </head>
  <body>
    <!-- 사이트맵 qna a태그 없음  -->

    <!-- 네비게이션 구역 -->
    <div class="navigationContainer">

      <!-- 로고 -->
      <div class="logo">
          <a href="/">
              <img src="/images/logo.png" class="logoImg">
          </a>
      </div>

      <!-- 우리는 -->
      <div class="projectInfo">
          <span class="highlighterBlue">
              <a href="/info/service">우리는</a>
          </span>
      </div>

      <!-- 나눠요 -->
      <div class="projectInfo">
          <span class="highlighterBlue">
              <a href="/share/list">나눠요</a>
          </span>
          
      </div>

      <!-- 버려요 -->
      <div class="projectInfo">
          <span class="highlighterBlue">
            <a href="/recycle/list">버려요</a>
          </span>
      </div>

      <!-- 오른쪽 정렬 -->
      <div class="rightGroup">

          <!-- 로그인을 안했을 시 -->
          <th:block sec:authorize="not isAuthenticated()">
              <div class="join">
                <span class="highlighterGreen">
                  <a href="/member/join">회원가입</a>
                </span>
              </div>

              <div class="login">
                <span class="highlighterGreen">
                  <a href="/member/loginForm">로그인</a>
                </span>
              </div>
          </th:block>
          
      
          <!-- 로그인을 했을 시 -->
          <th:block sec:authorize="isAuthenticated()">
              
              <!--****************************************** 쪽지 *****************************-->
              <div class="message" id="messages" th:data-num="${#authentication.principal.num}">
                  <!-- 쪽지 이미지  -->
                  <img src="/images/post.png" class="postImage">
                  <!-- 아래 뱃지 숫자는 알아서 변경하도록,,, -->
                  <div class="badge" id="badge">0</div>
              </div>

              <!-- 쪽지 목록 모달 -->
              <div
                id="messagesModal"
                class="modal"
                style="
                  max-height: calc(100vh - 50px);
                  overflow-x: hidden;
                  overflow-y: auto;
                "
              >
                <div class="modal-content">
                  <span id="messagesClose" class="close">&times;</span>
                  <h2>나눔 이야기</h2>
                  <div id="messageListContainer"></div>
                </div>
              </div>

              <!-- 쪽지 상세보기 모달 -->
              <div
                id="detailsModal"
                class="modal"
                style="
                  max-height: calc(100vh - 50px);
                  overflow-x: hidden;
                  overflow-y: auto;
                "
              >
                <div class="modal-content">
                  <span id="detailsClose" class="close">&times;</span>
                  <h2>
                    <img id="receiverProfileImage" src="" alt="Profile" style="width: 30px; height: 30px; border-radius: 50%; vertical-align: middle;"/> 
                    <span id="receiverNickname"></span>님에게
                  </h2>

                  <!-- 게시글로 이동하는 영역 추가 -->
                  <div id="goToShareBoard" style="cursor: pointer">
                    <div
                      id="shareBoardLink"
                      style="
                        padding: 10px;
                        border: 1px solid #ccc;
                        text-align: center;
                      "
                    >
                      게시글로 이동
                    </div>
                  </div>
                  <div id="messageDetailsContainer"></div>
                  <textarea
                    id="messageInput"
                    placeholder="메시지를 입력하세요"
                  ></textarea>
                  <button id="sendMessageBtn">보내기</button>
                  <button id="userReportBtn">신고하기</button>
                  <button id="shareComplete" style="display: none">
                    나눔 완료
                  </button>
                </div>
              </div>

              <!-- 게시글 유저 신고 모달창 -->
              <div id="reportModal" class="modal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>신고하기</h2>
                  <form id="reportForm">
                    <div>
                      <label
                        ><input
                          type="radio"
                          name="reportReason"
                          value="욕설, 인신공격 등 언어적 폭력"
                        />
                        욕설, 인신공격 등 언어적 폭력</label
                      >
                      <label
                        ><input
                          type="radio"
                          name="reportReason"
                          value="부적절한 게시글"
                        />
                        부적절한 게시글</label
                      >
                      <label
                        ><input
                          type="radio"
                          name="reportReason"
                          value="사기 또는 허위정보"
                        />
                        사기 또는 허위정보</label
                      >
                      <label
                        ><input type="radio" name="reportReason" value="기타" />
                        기타</label
                      >
                    </div>
                    <textarea
                      id="additionalReason"
                      placeholder="기타 사유를 입력하세요"
                    ></textarea
                    ><br />
                    <button type="button" id="submitUserReportBtn">
                      신고 제출
                    </button>
                  </form>
                </div>
              </div>
              
              <!-- 마이페이지  -->
              <div class="mypage">
                <span class="highlighterGreen">
                  <a th:href="@{/myPage/view}">마이페이지</a>
                </span>
              </div>
              
              <!-- 로그아웃 -->
              <div class="logout">
                <span class="highlighterGreen">
                  <a th:href="@{/member/logout}">로그아웃</a>
                </span>
              </div>
          </th:block>
      </div>
    </div>

  <!-- 공백 -->
  <div class="blankContainer"></div>

  <!-- mainContainer -->
  <div id="mainContainer">

    <div class="slide">
        
        <!-- 첫번째 슬라이드 -->
        <div class="slide_content">
            <div class="realContent">
                <!-- 설정에 따라 변경되는 css -->
                <div class="mainMessage" >
                    <span id="mainMessage">잘 나누고, 잘 버려요! 에코나비와 함께!</span>
                </div>
                <!-- GIF 영역 -->
                <div class="gifArea" >
                    <!-- gif 이미지 -->
                    <img class="gif" src="/images/home_gif.gif">
                </div>
            </div>
        </div>

        <!-- 두번째 슬라이드 -->
        <div class="slide_content">
          <div class="realContent" >
            <!-- 설정에 따라 변경되는 css -->
            <div class="mainMessage" >
                <span id="mainMessage">나눔 인기글! </span>
            </div>
            <!-- GIF 영역 -->
            <div class="gifArea">
                <!-- 게시글 틀  -->
                <div class="sharePostingList">
                  <!-- 나눠요 인기글 게시글 목록 -->
                  <div class="sharePosting" th:each="share : ${hotList}">
                      <!-- 제목 -->
                      <a th:href="@{/share/read(shareNum=${share.shareNum})}">
                        <span class="sharePostTitle" th:text="${share.shareTitle}"></span>
                      </a>
                      <!-- 사진 -->
                      <div class="shareImage">
                          <img th:src="@{/share/download(imageNum=${share.imageList[0].imageNum})}">
                      </div>
                      <!-- 글내용 -->
                      <div class="postContentArea">
                          <span class="postContent" th:text="${share.shareContents}"></span>
                      </div>
                      <!-- 닉네임, 북마크수 -->
                      <div class="postInfo">
                          <span class="userName" th:text="${share.memberNickname}"></span>
                          <span class="bookmarkCount" th:text="'북마크 ' + ${share.bookmarkCount}"></span>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>

        <!-- 세번째 슬라이드 -->
        <div class="slide_content">
            <div class="realContent">
                <!-- 지도 이미지  -->
                <img src="/images/map.png">
            </div>
        </div>

    </div>
    <!-- slide -->


    <!-- 좌우 버튼 -->
    <div class="arrowLeft">〈</div>
    <div class="arrowRight">〉</div>


    <!-- 페이징 (동그라미) -->
    <ul class="pagination">
        <li class="dot active" data-index="0"></li>
        <li class="dot" data-index="1"></li>
        <li class="dot" data-index="2"></li>
    </ul>

  </div><!-- mainContainer -->

  <!-- 저작권 정보 -->
  <div class="rightContainer">
    © 2024 Team San, Hai. All rights reserved.
  </div>
  
  </body>
</html>
