<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <title>에코나비</title>
    <!-- 아이콘 임시이미지  -->
    <link rel="icon" href="/images/bookmark1.png" type="image/png">
    <!-- Style -->
    <link rel="stylesheet" href="/css/home/home.css">
    <!-- script -->
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script type="text/javascript" src="/js/home/home.js"></script>
  </head>
  <body>
    <!-- 사이트맵 qna a태그 없음  -->

    <!-- 네비게이션 구역 -->
    <div class="navigationContainer">

      <!-- 로고 -->
      <div class="logo">
          <a href="/">
              <img src="/images/logo.png" class="logoImg">
          </a>
      </div>

      <!-- 우리는 -->
      <div class="projectInfo">
          <span class="highlighterBlue">
              <a href="/info/service">우리는</a>
          </span>
      </div>

      <!-- 나눠요 -->
      <div class="projectInfo">
          <span class="highlighterBlue">
              <a href="/share/list">나눠요</a>
          </span>
          
      </div>

      <!-- 버려요 -->
      <div class="projectInfo">
          <span class="highlighterBlue">
            <a href="/recycle/list">버려요</a>
          </span>
      </div>

      <!-- 오른쪽 정렬 -->
      <div class="rightGroup">

          <!-- 로그인을 안했을 시 -->
          <th:block sec:authorize="not isAuthenticated()">
              <div class="join">
                <span class="highlighterGreen">
                  <a href="/member/join">회원가입</a>
                </span>
              </div>

              <div class="login">
                <span class="highlighterGreen">
                  <a href="/member/loginForm">로그인</a>
                </span>
              </div>
          </th:block>
          
      
          <!-- 로그인을 했을 시 -->
          <th:block sec:authorize="isAuthenticated()">
              
              <!--****************************************** 쪽지 *****************************-->
              <div class="message" id="messages" th:data-num="${#authentication.principal.num}">
                  <!-- 쪽지 이미지  -->
                  <img src="/images/post.png" class="postImage">
                  <!-- 아래 뱃지 숫자는 알아서 변경하도록,,, -->
                  <div class="badge" id="badge">0</div>
              </div>

              <!-- 쪽지 목록 모달 -->
              <div
                id="messagesModal"
                class="modal"
                style="
                  max-height: calc(100vh - 5vh);
                  overflow-x: hidden;
                  overflow-y: auto;
                  "
              >
                <div class="modal-content">
                  <!-- 나눔 이야기 상단 영역 -->
                  <div class="messageUpside">
                    <h2>나눔 이야기</h2>
                    <!-- 닫기 버튼 -->
                    <span class="close">╳</span> 
                  </div>
                  <!-- 쪽지방 목록이 출력되는 곳 -->
                  <div id="messageListContainer"></div>
                </div>
              </div>

              <!-- 쪽지 상세보기 모달 -->
              <div
                id="detailsModal"
                class="modal"
                style="
                  max-height: calc(100vh - 5vh);
                  overflow-x: hidden;
                  overflow-y: auto;
                  "
              >
                <div class="modal-content">
                  <div class="messageUpside">
                    <div class="usernameContainer">
                      <img
                        id="receiverProfileImage"
                        src=""
                        alt="Profile"> 
                      <span class="usernameTitle"><b id="receiverNickname"></b>님에게</span>
                      <!-- 신고하기 버튼 (공백 유지) -->
                      <span id="userReportBtn" class="userReportButton highlighterRed">신고하기</span>                      
                    </div>
                    <!-- 닫기 버튼 -->
                    <span class="close">╳</span> 
                  </div>
                  
                  <!-- 게시글로 이동하는 영역 추가 -->
                  <div id="goToShareBoard">
                    <div id="shareBoardLink">
                    게시글로 이동
                    </div>
                  </div>

                <!-- 쪽지 목록 출력 영역 -->
                <div id="messageDetailsContainer"></div>
                <!-- 쪽지 보내기 -->
                <div id="detailContentsContainer">
                  <textarea
                  id="messageInput"
                  class="messageContents" 
                  placeholder="내용을 입력해주세요!"
                  maxlength="100"
                    ></textarea>
                    <!-- 보내기 버튼 -->
                    <button id="sendMessageBtn">보내기</button>
                    <button id="shareComplete" style="display: none;">
                      나눔 완료
                    </button>
                </div>
                </div>
              </div>

              <!-- 게시글 유저 신고 모달창 -->
              <div id="reportModal" class="modal">
                <div class="modal-content">
                  <!-- 신고 모달 상단 영역 -->
                  <div class="reportUpside">
                    <!-- 신고 타이틀과 신고하고자 하는 유저 닉네임을 포함하는 영역 -->
                    <div class="reportContainer">
                    <!-- 타이틀 -->
                    <span class="reportTitle">신고하기</span>
                    <!-- 신고하기 버튼 (공백 유지) -->
                    <span id="reportUser" class="reportUser">닉네임 님</span>
                    </div>
                    <!-- 닫기 버튼 -->
                    <span class="close">╳</span>
                  </div>
 
                  <form id="reportForm" class="reportArea">
                    <div>
                      <label class="reportReason"
                      ><input
                      type="radio"
                      name="reportReason"
                      value="욕설, 인신공격 등 언어적 폭력"
                      />
                      욕설, 인신공격 등 언어적 폭력</label
                      >
                      <br>
                      <label class="reportReason"
                      ><input
                      type="radio"
                          name="reportReason"
                          value="부적절한 게시글"
                          />
                          부적절한 게시글</label
                          >
                          <br>
                          <label class="reportReason"
                          ><input
                          type="radio"
                          name="reportReason"
                          value="사기 또는 허위정보"
                          />
                          사기 또는 허위정보</label
                          >
                          <br>
                          <label class="reportReason"
                          ><input type="radio" name="reportReason" value="기타" />
                          기타</label
                          >
                        </div>
                        <textarea
                      id="additionalReason"
                      class="additionalReason" 
                      placeholder="기타 사유를 입력하세요."
                      maxlength="400"
                    ></textarea
                    ><br />
                    <button type="button" id="submitUserReportBtn" class="reportSubmit">
                      신고 제출
                    </button>
                  </form>
                </div>
              </div>
<!-- ************************************ 쪽지 목록 모달 *************************************-->
              
              <!-- 마이페이지  -->
              <div class="mypage">
                <span class="highlighterGreen">
                  <a th:href="@{/myPage/view}">마이페이지</a>
                </span>
              </div>
              
              <!-- 로그아웃 -->
              <div class="logout">
                <span class="highlighterGreen">
                  <a th:href="@{/member/logout}">로그아웃</a>
                </span>
              </div>
          </th:block>
      </div>
    </div>

  <!-- 공백 -->
  <div class="blankContainer"></div>

  <!-- mainContainer -->
  <div id="mainContainer">

    <div class="slide">
        
        <!-- 첫번째 슬라이드 -->
        <div class="slide_content">
            <div class="realContent">
                <!-- 설정에 따라 변경되는 css -->
                <div class="mainMessage">
                    <!-- 로그인 하지 않았을시 -->
                    <th:block sec:authorize="not isAuthenticated()">
                      <!-- 기본 문구 출력 -->
                      <span class="typeMessage typing">잘 나누고, 잘 버려요! 에코나비와 함께!</span>
                    </th:block>
                    <!-- 로그인 하였을시 해당요일의 알람메시지를 보여준다. -->
                    <th:blcok sec:authorize="isAuthenticated()">
                      <span class="typeMessage">
                        <!-- alarmDTO가 null이 아닐 때만 해당 요일의 알람내용을 보여준다. -->
                        <span class="typing" th:if="${alarm != null}" th:text="|오늘은 ${week}! ${alarm.alarmContents}|"></span>
                        <!-- alarmDTO가 null일 때 기본 메시지를 출력 -->
                        <span class="typing" th:if="${alarm == null}">잘 나누고, 잘 버려요! 에코나비와 함께!</span>
                      </span>                   
                    </th:blcok>
                </div>
                <!-- GIF 영역 -->
                <div class="gifArea" >
                    <!-- gif 이미지 -->
                    <img class="gif" src="/images/home_gif.gif">
                </div>
            </div>
        </div>

        <!-- 두번째 슬라이드 -->
        <div class="slide_content">
          <div class="realContent" >
            <!-- 설정에 따라 변경되는 css -->
            <div class="mainMessage">
                <span class="typeMessage">나눔 인기글!</span>
            </div>
              <!-- 게시글 틀  -->
              <div class="shareArea">
                <!-- 나눠요 인기글 게시글 목록 -->
                <div class="sharePosting" th:each="hot : ${hotList}">
                    <!-- 제목 -->
                    <a th:href="@{/share/read(shareNum=${hot.shareNum})}">
                      <span class="sharePostTitle" th:text="${hot.shareTitle}"></span>
                    </a>
                    <!-- 사진 -->
                    <div class="shareImage">
                        <img th:src="@{/share/download(imageNum=${hot.imageList[0].imageNum})}">
                    </div>
                    <!-- 글내용 -->
                    <div class="postContentArea">
                        <span class="postContent" th:text="${hot.shareContents}"></span>
                    </div>
                    <!-- 닉네임, 북마크수 -->
                    <div class="postInfo">
                        <span class="userName" th:text="${hot.memberNickname}"></span>
                        <span class="bookmarkCount" th:text="'북마크 ' + ${hot.bookmarkCount}"></span>
                    </div>
                </div>
              </div>
          </div>
        </div>

        <!-- 세번째 슬라이드 -->
        <div class="slide_content">
            <div class="realContent">
              <div class="mainMessage" >
                <span class="typeMessage">
                  나눔 매니아!
                </span>
              </div>
              <!-- 점수 순서로 회원을 들고온다.  -->
              <div class="memberArea" >

                <!-- 2등 -->
                <div class="secondContainer" th:if="${pointSecond != null}">
                    <div class="second">
                      🥈 <span class="secondTitle">나눔 기사</span>
                    </div>
                    <!-- 게시글 졍역 -->
                    <div class="secondBoard">
                      <!-- 회원의 닉네임 -->
                      <div class="secondNickname" th:text="${pointSecond.memberNickname}"></div>
                      <!-- 회원 대표 이미지 -->
                      <div class="secondImageArea">
                        <img class="secondImage" th:src="@{/member/profileDownload(memberNum=${pointSecond.memberNum})}">
                      </div>
                      <!-- 회원의 나눔 포인트  -->
                      <div>
                        <span class="secondPointText">나눔 포인트 : </span><span  class="secondPoint" th:text="${pointSecond.memberPoint}"></span>
                      </div>
                    </div>
                </div>

                <!-- 1등  -->
                <div class="firstContainer" th:if="${pointFirst != null}">
                  <div class="first">
                    🥇 <span class="firstTitle">나눔왕</span>
                  </div>
                  <!-- 게시글 졍역 -->
                  <div class="firstBoard">
                    <!-- 회원의 닉네임 -->
                    <div class="firstNickname" th:text="${pointFirst.memberNickname}"></div>
                    <!-- 회원 대표 이미지 -->
                    <div class="firstImageArea">
                      <img class="firstImage" th:src="@{/member/profileDownload(memberNum=${pointFirst.memberNum})}">
                    </div>
                    <!-- 회원의 나눔 포인트  -->
                    <div>
                      <span class="firstPointText">나눔 포인트 : </span><span  class="firstPoint" th:text="${pointFirst.memberPoint}"></span>
                    </div>
                  </div>
                </div>
                
                <!-- 3등  -->
                <div class="thirdContainer" th:if="${pointThird != null}">
                  <div class="third">
                    🥉 <span class="thirdTitle">나눔 요정</span>
                  </div>
                  <!-- 게시글 졍역 -->
                  <div class="thirdBoard">
                    <!-- 회원의 닉네임 -->
                    <div class="thirdNickname" th:text="${pointThird.memberNickname}"></div>
                    <!-- 회원 대표 이미지 -->
                    <div class="thirdImageArea">
                      <img class="thirdImage" th:src="@{/member/profileDownload(memberNum=${pointThird.memberNum})}">
                    </div>
                    <!-- 회원의 나눔 포인트  -->
                    <div>
                      <span class="thirdPointText">나눔 포인트 : </span><span  class="thirdPoint" th:text="${pointThird.memberPoint}"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

    </div>
    <!-- slide -->


    <!-- 좌우 버튼 -->
    <div class="arrowLeft">〈</div>
    <div class="arrowRight">〉</div>


    <!-- 페이징 (동그라미) -->
    <ul class="pagination">
        <li class="dot active" data-index="0"></li>
        <li class="dot" data-index="1"></li>
        <li class="dot" data-index="2"></li>
    </ul>

  </div><!-- mainContainer -->

  <!-- 저작권 정보 -->
  <div class="rightContainer">
    © 2024 Team San, Hai. All rights reserved.
  </div>
  
  </body>
</html>
