<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>쪽지 내역</title>
    <style></style>

    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script>
      $(document).ready(function () {
        $("#createRoom").click(function (event) {
          event.preventDefault(); // 기본 form 동작 방지
          let messageContents = $("#messageContentsNoRoom").val();
          let shareNum = $("#shareNum").val();

          $.ajax({
            url: "/message/createRoom",
            type: "post",
            data: { messageContents: messageContents, shareNum: shareNum },
            success: function () {
              console.log("shareNum: " + shareNum); // 값 확인
              location.href = "/message/read?shareNum=" + shareNum;
            },
            error(e) {
              alert("실패");
            },
          });
        }); // createRoom 클릭 이벤트

        $("#sendButton").click(function (event) {
          event.preventDefault(); // 기본 form 동작 방지
          let messageContents = $("#messageContentsExist").val();
          let roomNum = $("#roomNum").val();

          $.ajax({
            url: "/message/send",
            type: "post",
            data: { messageContents: messageContents, roomNum: roomNum },
            success: function () {
              console.log("roomNum: " + roomNum); // 값 확인
              location.reload(); // 새로고침
            },
            error(e) {
              alert("실패");
            },
          });
        }); // sendButton 클릭 이벤트
      });
    </script>
  </head>
  <body>
    <h1>나눔 이야기</h1>
    <h2 th:text="${share.shareTitle}">게시글 제목</h2>
    <div th:if="${!roomExist}">
      <th:block>
        <form>
          <input type="text" id="messageContentsNoRoom" />
          <input type="hidden" id="shareNum" th:value="${share.shareNum}" />
          <button type="submit" id="createRoom">보내기</button>
        </form>
        <button>신고하기</button>
      </th:block>

    </div>

    <div th:if="${roomExist}">

      <th:block>
        <th:block th:each="message : ${messageList}">
          <strong>발신자:</strong>
          <span th:text="${message.senderNickname}">발신자</span>
          <span th:text="${message.messageContents} ">내용</span>
          <span
            th:text="${#temporals.format(message.deliverDate, 'yyyy-MM-dd HH:mm')}"
            >전송일</span
          >
          <br>
        </th:block>
      
        <form th:if="${room != null}">
          <input type="text" id="messageContentsExist" />
          <input type="hidden" id="roomNum" th:value="${room.roomNum}" />
          <button type="submit" id="sendButton">보내기</button>
        </form>
        <button>신고하기</button>
      </th:block>
      <th:block th:if="${#authentication.name == share.memberId}">
        <button th:disabled="${share.shareCompleted}">나눔 완료</button>
      </th:block>

    </div>   

  </body>
</html>
