/* main_style_css */

    /* Font | Pretendard */
    @font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-style: normal;
    }


    * {
        box-sizing: border-box;
    }


    /* Body에 font 적용 */
    body {
        font-family: 'Pretendard';
        box-sizing: border-box;
    }


    /* img_사진이 div 영역을 넘어가지 않도록 */
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    a{
        color: inherit;
        text-decoration: inherit;
    }

    a:hover {
        text-decoration: underline;
    }


/* 네비게이션 */
    /* 네비게이션이 들어가는 구역 div */
    .navigationContainer {
        margin: auto;
        margin-top: 5vh;
        width: 93vw;
        height: 6vh;
        white-space: nowrap;
    }


    /* 로고 감싸는 div */
    .logo {
        display: inline-block;
        height: 6vh;
        margin-right: 1vw;
    }

    /* 로고 이미지 */
    .logoImg {
        height: 5vh;
        margin-bottom: 0.5vh;
    }

    /* 메뉴 감싸는 div_우리는 / 나눠요 / 버려요 */
    .projectInfo {
        margin-left: 1vw;
        font-size: 140%;
        font-weight: 700;
        letter-spacing: 0.15vw;
        display: inline-block;
        width: 7vw;
        height: 6vh;
        text-align: center;
        vertical-align: top;
        line-height: 6vh;
    }

    /* 네비게이션 메뉴_hover */
    .projectInfo:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    /* 회원가입, 로그인 div 영역 */
    .rightGroup {
        float: right;
    }

    /* 회원가입 */
    .join {
        font-size: 120%;
        font-weight: 500;
        letter-spacing: 0.1vw;
        display: inline-block;
        width: 6vw;
        height: 6vh;
        text-align: center;
        text-decoration: underline;
        vertical-align: top;
        line-height: 6vh;
    }

    /* 회원가입_hover */
    .joinHover:hover {
        color: white;
        background-color: black;
        text-decoration: underline;
        cursor: pointer;
    }

    /* 로그인 */
    .login {
        font-size: 120%;
        font-weight: 500;
        letter-spacing: 0.1vw;
        display: inline-block;
        width: 5vw;
        height: 6vh;
        text-align: center;
        text-decoration: underline;
        vertical-align: top;
        line-height: 6vh;
    }

    /* 로그인_hover */
    .loginHover:hover {
        color: white;
        background-color: black;
        text-decoration: underline;
        cursor: pointer;
    }

    /* 로그아웃 */
    .logout {
        font-size: 120%;
        font-weight: 500;
        letter-spacing: 0.1vw;
        display: inline-block;
        width: 6vw;
        height: 6vh;
        text-align: center;
        text-decoration: underline;
        vertical-align: top;
        line-height: 6vh;
    }

    /* 로그아웃_hover */
    .logoutHover:hover {
        color: white;
        background-color: black;
        text-decoration: underline;
        cursor: pointer;
    }

    /* 마이페이지 */
    .myPage {
        font-size: 120%;
        font-weight: 500;
        letter-spacing: 0.1vw;
        display: inline-block;
        width: 5vw;
        height: 6vh;
        text-align: center;
        text-decoration: underline;
        vertical-align: top;
        line-height: 6vh;
    }

    /* 마이페이지_hover */
    .myPageHover:hover {
        color: white;
        background-color: black;
        text-decoration: underline;
        cursor: pointer;
    }


/* 메인 컨텐츠 영역 */
    /* 메인 컨텐츠 컨테이너 */
    #mainContainer {
        width: 93vw;
        height: 88vh;
        margin: auto;
    }


    /* Blank_네비게이션 & 메인 컨텐츠 사이 공백 */
    .blankContainer {
        height: 2vh;
        width: 93vw;
    }


    /* 검색 영역 */
    .searchArea {
        display: flex;
        justify-content: space-between;     /* 양 끝으로 정렬 */
        align-items: center;                /* 가운데 정렬 */
        width: 93vw;
        height: 6vh;
    }

    /* 검색창_input 영역 */
    #searchContainer {
        width: 31vw;
        height: 6vh;
        display: inline-block;
        display: flex;
        justify-content: center;    /* 가운데 정렬 */
        align-items: center;        /* 세로 가운데 정렬 */
        position: relative;
    }

    /* 검색창 input_왼쪽 blank */
    .serchBlankL {
        width: 31vw;
        height: 6vh;
    }

    /* 검색창 input_오른쪽 blank */
    .serchBlankR {
        width: 23vw;
        height: 6vh;
    }

    /* 검색창 input 내의 버튼_검색 */
    #searchContainer button {
        position: absolute;
        text-align: center;
        right: 1.5vh;
        width: 6vh;
        height: 3vh;
        border-radius: 5vh;
        font-size: 90%;
        letter-spacing: 0.05vw;
        top: 1.5vh;
        bottom: 1.7vh;
        color: white;
        background-color: black;
        border: 1px solid black;
        cursor: pointer;
    }

    /* 검색 창_input */
    .search {
        margin: auto;
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 30vw;
        height: 4vh;
        border: 1px solid black;
        border-radius: 5vh;
        text-align: center;
        font-size: 120%;
        letter-spacing: 0.05vw;
    }

    /* 초기화 버튼 */
    .resetButton {
        position: absolute;
        right: -7vh;
            /* 검색 버튼 옆에 위치 */
        top: 1.8vh;
        font-size: 100%;
        color: gray;
        cursor: pointer;
        text-decoration: underline;
    }

    .resetButton:hover {
        color: magenta;
    }

    /* 나눔하기 버튼 영역 */
    .wantShareArea {
        margin: auto;
        float: right;
        width: 8vw;
        height: 6vh;
    }

    /* 나눔하기 버튼 */
    .wantShare {
        width: 8vw;
        height: 5vh;
        color: white;
        background-color: black;
        border-radius: 5vh;
        border: 1px solid black;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
        font-size: 120%;
        font-weight: 600;
        letter-spacing: 0.05vw;
        cursor: pointer;
    }

    /* 나눔하기 버튼_hover */
    .wantShare:hover {
        text-decoration: underline;
        cursor: pointer;
    }


    /* 지도 영역 */
    .mapArea {
        margin-top: 3vh;
        width: 93vw;
        height: 70vh;
        text-align: center;
        line-height: 70vh;
        border: 1px solid black;
        box-sizing: border-box;
    }

    /* 지도의 infoWindow영역 */
    .mapInfo{
        width: 200px;
        height: 200px;
        text-align: left;
        line-height: 5vh;
    }


    /* 나눠요 영역 */
    .shareArea {
        display: block;
        margin-top: 3vh;
        width: 100%;
        padding: 2vh 0;
        padding-bottom: 0;
    }

    /* 나눠요 타이틀 */
    .shareTitle {
        padding-top: 2vh;
        padding-bottom: 5vh;
        font-weight: 900;
        font-size: 200%;
        letter-spacing: 0.3vw;
    }


    /* 나눠요 게시글 리스트 영역 */
    .sharePostingList {
        display: flex;
        flex-wrap: wrap;
            /* 줄바꿈을 허용하여 게시글 수가 맞지 않아도 흐트러지지 않도록 함 */
        justify-content: flex-start;
            /* 게시글이 왼쪽 정렬되게 설정 */
        gap: 2vh;
            /* 게시글 사이에 일정 간격을 둠 */
    }

    /* 나눠요 게시글 영역_div 박스 */
    .sharePosting {
        width: 345px;
            /* 각 게시글을 4개씩 한 줄에 표시, gap을 고려한 너비 계산 */
        height: 38vh;
        margin-bottom: 5.5vh;
        border: 1.5px solid black;
        background-color: white;
        box-sizing: border-box;
        padding: 3vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* 게시글이 한 줄에 4개 미만일 경우에도 레이아웃을 유지 */
    @media (max-width: 1200px) {
        .sharePosting {
            width: calc(33.33% - 3vh);
                /* 한 줄에 3개씩 표시 */
        }
    }

    @media (max-width: 900px) {
        .sharePosting {
            width: calc(50% - 2vh);
                /* 한 줄에 2개씩 표시 */
        }
    }

    @media (max-width: 900px) {
        .sharePosting {
            width: calc(50% - 2vh);
                /* 한 줄에 2개씩 표시 */
        }
    }

    /* 나눠요 게시글_제목 */
    .sharePostTitle {
        font-size: 130%;
        font-weight: 700;
        letter-spacing: 0.1vw;
        overflow: hidden; /* 넘치는 텍스트 숨김 */
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    /* 나눠요 게시글_이미지 영역 */
    .shareImage {
        width: 100%;
        height: 18vh;
        overflow: hidden;
    }

    /* 나눠요_본문 영역 */
    .postContentArea {
        width: 100%;
        line-height: 2.7vh;
    }

    /* 나눠요 게시글_본문 글 */
    .postContent {
        font-size: 100%;
        letter-spacing: 0.05vw;
        line-height: 2.5vh;
    }

    /* 게시글 하단 정보 영역 */
    .postInfo {
        width: 100%;
        color: gray;
    }

    /* 게시글 정보_작성자 닉네임 */
    .userName {
        font-size: 90%;
        letter-spacing: 0.05vw;
        float: left;
    }

    /* 게시글 정보_작성 일시 */
    .postDate {
        font-size: 90%;
        letter-spacing: 0.05vw;
        float: right;
    }


    /* 게시글 사이 공백_좌, 우측 */
    .postBlank {
        display: inline-block;
        width: 3vw;
    }


    /* 저작권 영역 */
    .rightContainer {
        position: absolute;     /* 하단에 고정 */
        padding-top: 4vh;
        padding-bottom: 5vh;
        width: 93vw;
        height: 3vh;
        white-space: nowrap;
        text-align: center;
        line-height: 3vh;
        font-size: 80%;
        font-weight: 500;
        text-decoration: underline;
        color: gray;
    }