/* main_style_css */

    /* Font | Pretendard */
    @font-face {
        font-family: 'NEXON Lv1 Gothic OTF';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }


    /* General Reset */
    * {
        box-sizing: border-box;
    }


    /* Body에 font 적용 */
    body {
        font-family: 'NEXON Lv1 Gothic OTF';
        box-sizing: border-box;
        background-image: url('/images/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }


    /* a태그 속성 없애기 */
    a {
        color: inherit;
        text-decoration: inherit;
    }


    /* 슬라이드에서 사용 될 리스트 속성 */
    li {
        list-style: none;
    }


    /* 이미지 */
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


/* 네비게이션 */
    /* 네비게이션이 영역 div */
    .navigationContainer {
        margin: auto;
        margin-top: 5vh;
        width: 93vw;
        height: 6vh;
        white-space: nowrap;
    }


    /* 로고 감싸는 div */
    .logo {
        display: inline-block;
        height: 6vh;
        margin-right: 1vw;
    }

    /* 로고 이미지 */
    .logoImg {
        height: 5vh;
        margin-bottom: 0.5vh;
    }


    /* 메뉴 감싸는 div_우리는 / 나눠요 / 버려요 */
    .projectInfo {
        margin-left: 1vw;
        font-size: 2.5vh;
        font-weight: 700;
        letter-spacing: 0.2vw;
        display: inline-block;
        width: 7vw;
        height: 6vh;
        text-align: center;
        vertical-align: top;
        line-height: 6vh;
    }

    /* 네비게이션 메뉴_hover */
    .projectInfo:hover {
        cursor: pointer;
    }


    /* 형광펜 효과_파란색 */
    .highlighterBlue {
        background: linear-gradient(#8ABAFF 0 100%);
        background-position: 0 calc(100% - 0.3vh);
        background-size: 0 1.5vh;
        background-repeat: no-repeat;
        transition: background-size 0.3s;
    }

    /* 형광펜 효과_파란색_hover */
    .highlighterBlue:hover {
        background-size: 100% 1.5vh;
    }


    /* 회원가입, 로그인 div 영역 */
    .rightGroup {
        float: right;
    }

/* 로그인 안했을 시 */
    /* 회원가입 */
    .join {
        font-size: 1.8vh;
        font-weight: 500;
        letter-spacing: 0.05vw;
        display: inline-block;
        height: 6vh;
        text-align: center;
        text-decoration: underline;
        vertical-align: top;
        line-height: 6vh;
        margin-right: 2vw;
        color: gray;
    }


    /* 로그인 */
    .login {
        font-size: 1.8vh;
        font-weight: 500;
        letter-spacing: 0.05vw;
        display: inline-block;
        height: 6vh;
        text-align: center;
        text-decoration: underline;
        vertical-align: top;
        line-height: 6vh;
        color: gray;
    }


/* 로그인 했을 시 */
    /* 나눔 이야기 (쪽지) */
    .message {
        padding: 2vh;
        display: inline-flex;
        align-items: center;
        margin-right: 0.5vw;
        vertical-align: center;
        cursor: pointer;
    }

    /* 쪽지 모달부분  */
    .modal {
        display: none; /* 모달을 숨김 */
        position: fixed; /* 화면에 고정된 위치로 설정 */
        z-index: 1; /* 다른 요소보다 앞에 오도록 설정 */
        left: 0; /* 화면 왼쪽부터 시작 */
        top: 0; /* 화면 상단부터 시작 */
        width: 100%; /* 화면 전체 너비 */
        height: 100%; /* 화면 전체 높이 */
        background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검정색 배경 */
      }

      .modal-content {
        background-color: #fff;
        margin: 10% auto; /* 창 크기가 커질 경우, 위 여백을 줄일 수도 있음 */
        padding: 30px; /* 패딩을 늘려서 내부 콘텐츠 여백도 증가 */
        border: 1px solid #888;
        width: 90%; /* 너비를 화면의 90%로 변경 */
        max-width: 600px; /* 최대 너비를 600px로 확장 */
        text-align: center;
      }

      .message-room {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        background-color: #f9f9f9;
      }

      .message-room:hover {
        background-color: #e9e9e9;
      }

      /* .close 클래스는 모달의 닫기 버튼을 정의합니다. */
      .close {
        color: #aaa; /* 닫기 버튼의 기본 색상 */
        float: right; /* 닫기 버튼을 모달의 오른쪽 상단에 배치 */
        font-size: 28px; /* 닫기 버튼의 글자 크기 */
        font-weight: bold; /* 닫기 버튼의 글자 두께를 두껍게 설정 */
      }

      /* 닫기 버튼에 마우스를 올리거나 포커스할 때의 스타일을 정의합니다. */
      .close:hover,
      .close:focus {
        color: black; /* 닫기 버튼에 마우스를 올렸을 때 색상이 검정으로 변경 */
        text-decoration: none; /* 닫기 버튼의 밑줄 제거 */
        cursor: pointer; /* 닫기 버튼에 마우스를 올렸을 때 커서를 손 모양으로 변경 */
      }
      /* 쪽지 모달 css 끝  */

    /* 쪽지 이미지 */
    .postImage {
        margin-top: 0;
        width: 1.5vw;
    }

    /* 나눔 이야기 알림 뱃지 */
    .badge {
        color: black;
        margin-left: 0.5vw;
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.2vw;
    }

    /* 마이페이지 */
    .mypage {
        font-size: 1.8vh;
        font-weight: 500;
        letter-spacing: 0.05vw;
        display: inline-block;
        height: 6vh;
        text-align: center;
        text-decoration: underline;
        vertical-align: top;
        line-height: 6vh;
        margin-right: 2vw;
        color: gray;
    }

    /* 로그아웃 */
    .logout {
        font-size: 1.8vh;
        font-weight: 500;
        letter-spacing: 0.05vw;
        display: inline-block;
        height: 6vh;
        text-align: center;
        text-decoration: underline;
        vertical-align: top;
        line-height: 6vh;
        color: gray;
    }


    /* 형광펜 효과_초록 */
    .highlighterGreen {
        background: linear-gradient(#2DC986 0 100%);
        background-position: 0 calc(100% - 0.2vh);
        background-size: 0 0.9vh;
        background-repeat: no-repeat;
        transition: background-size 0.3s;
    }

    /* 형광펜 효과_초록_hover */
    .highlighterGreen:hover {
        color: black;
        background-size: 100% 0.9vh;
    }


    /* Blank_네비게이션 & 슬라이드 사이 공백 */
    .blankContainer {
        height: 2vh;
        width: 93vw;
    }


/* 슬라이드 */
    /* 메인 슬라이드 컨테이너 */
    #mainContainer {
        position: relative;
        width: 93vw;
        height: 78vh;
        margin: auto;
        overflow: hidden;
    }

    /* 슬라이드 영역 속성 */
    .slide {
        display: flex;
        width: calc(93vw * 3);      /* 3개의 슬라이드를 위한 전체 너비 */
        transition: transform 0.5s ease;
    }

    /* 각 슬라이드 컨텐츠 스타일_이동 화살표 포함 영역 */
    .slide_content {
        width: 93vw;
        height: 78vh;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    /* 슬라이드 박스 내의 컨텐츠 영역_이동 화살표 제외 영역 */
    .realContent {
        width: 87vw;
        height: 78vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    /* 커서 깜박임 효과 */
    @keyframes blink {
        0% { border-right-color: rgba(0, 0, 0, 0); }
        50% { border-right-color: black; }
        100% { border-right-color: rgba(0, 0, 0, 0); }
    }

    /* 기본 문구 */
    .mainMessage {
        width: 100%;
        height: 10%;
        text-align: right;
        font-size: 3vh;
        font-weight: 700;
        letter-spacing: 0.2vw;
        padding-top: 2vh;
        /* background-color: aliceblue; */
    }

    /* 기본 문구_타이핑 */
    #mainMessage {
        border-right: 2px solid black; /* 커서 효과 */
        white-space: nowrap;
        overflow: hidden;
        animation: blink 0.75s step-end infinite; /* 커서 깜박임 애니메이션 */
    }

    /* gif 영역 */
    .gifArea {
        width: 100%;
        height: 90%;
        text-align: center;
    }

    /* gif */
    .gif {
        height: auto;
        width: 100%;
    }


    /* 좌우 이동 버튼 */
    .arrowLeft, .arrowRight {
        font-size: 4vh;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 10;
    }

    /* 좌측 화살표_이전 */
    .arrowLeft {
        left: 0.05vw;
    }

    /* 우측 화살표_다음 */
    .arrowRight {
        right: 0.05vw;
    }


    /* 페이징(동그라미) 속성 */
    .pagination {
        position: absolute;
        bottom: 0.29vw;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        list-style: none;
        padding: 0;
    }

    /* 페이징 동그라미 스타일 */
    .dot {
        width: 0.4vw;
        height: 0.8vh;
        margin: 0 0.2vw;
        background-color: #ccc;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    /* 페이징 동그라미_활성화 */
    .dot.active {
        background-color: #333;
    }




/* 나눠요 게시글 리스트 영역 */
.sharePostingList {
    display: flex;
    flex-wrap: wrap;
    /* 줄바꿈을 허용하여 게시글 수가 맞지 않아도 흐트러지지 않도록 함 */
    justify-content: space-between;
    /* 게시글이 왼쪽 정렬되게 설정 */
    gap: 2vh;
    /* 게시글 사이에 일정 간격을 둠 */
}

/* 나눠요 게시글 영역_div 박스 */
.sharePosting {
    width: 307px; 
    /* width: calc(25% - 2vh); */
        /* 각 게시글을 4개씩 한 줄에 표시, gap을 고려한 너비 계산 */
        /* 글자 수가 4개 미만이 되면 영역 폭이 계속 변해서 345px 로 고정시켰음  */
    text-align: left;
    height: 31vh;
    margin-bottom: 1vh;
    border: 0.07vw solid black;
    background-color: white;
    box-sizing: border-box;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* 나눠요 게시글_제목 */
.sharePostTitle {
    font-size: 2.4vh;
    font-weight: 700;
    letter-spacing: 0.08vw;
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis;
    white-space: nowrap;
    background: linear-gradient(#8ABAFF 0 100%);
    background-position: 0 calc(100% - 2px);
    background-size: 0 14px;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
}

/* 나눠요 게시글_제목_hover */
.sharePostTitle:hover {
    background-size: 100% 14px;  /* hover 시 배경 확장 */
}

/* 나눠요 게시글_이미지 영역 */
.shareImage {
    width: 100%;
    height: 18vh;
    overflow: hidden;
}

/* 나눠요_본문 영역 */
.postContentArea {
    width: 100%;
    line-height: 2.7vh;
}

/* 나눠요 게시글_본문 글 */
.postContent {
    font-size: 1.8vh;
    line-height: 2.5vh;
    letter-spacing: 0.05vw;
}

/* 게시글 하단 정보 영역 */
.postInfo {
    width: 100%;
    color: gray;
}

/* 게시글 정보_작성자 닉네임 */
.userName {
    font-size: 1.6vh;
    float: left;
    letter-spacing: 0.05vw;
}

/* 게시글 정보_작성 일시 */
.bookmarkCount {
    color: black;
    font-size: 1.6vh;
    float: right;
    letter-spacing: 0.05vw;
    background: linear-gradient(#2DC986 0 100%);
    background-position: 0 calc(100% - 0.3vh);
    background-size: 100% 1vh;
    background-repeat: no-repeat;
}


/* 게시글 사이 공백_좌, 우측 */
.postBlank {
    display: inline-block;
    width: 3vw;
}

    /* 저작권 영역 */
    .rightContainer {
        margin: auto;
        margin-top: 4vh;
        width: 93vw;
        height: 3vh;
        white-space: nowrap;
        text-align: center;
        line-height: 3vh;
        font-size: 1.4vh;
        font-weight: 500;
        text-decoration: underline;
        color: gray;
    }